{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "layout/page_skeleton.html.twig" %}
{% import 'components/alerts_macros.html.twig' as alerts %}

{% block content %}
    {# We override the parent width using .force-full-width because we need our background images and colors to bleed
       through and use all the available width. The content is still using the correct width by redefining manually the
       container size for each sections of the page using container-xl/container-narrow classes#}
    <div class="d-flex flex-column helpdesk-home-container force-full-width">
        <div class="search-banner">
            <div class="container-narrow">
                <h1 class="text-dark text-center">
                    {{ __("How can we help you?") }}
                </h1>

                <div id="search-overlay" class="search-overlay bg-dark"></div>
                <div class="input-icon search-bar-container">
                    <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                    </span>
                    <input
                        id="search-input"
                        type="text"
                        value=""
                        class="form-control home-search"
                        placeholder="{{ __("Search for knowledge base entries or forms") }}"
                    >
                    <section
                        id="search-results"
                        class="position-absolute bg-white w-100 d-none"
                        aria-label="{{ __("Search results") }}"
                    >
                    </section>
                </div>
            </div>
        </div>
        <section class="tiles-banner" aria-label="{{ __("Quick Access") }}">
            <div class="container-xl">
                {# Display password alerts #}
                {% if password_alert|length %}
                    {% set reset_password %}
                        <div class="btn-list">
                            <a class="btn btn-outline-warning" href="{{ path('/front/updatepassword.php') }} ">
                                {{ __('Update my password') }}
                            </a>
                        </div>
                    {% endset %}
                    {{ alerts.alert_warning(
                        title: password_alert,
                        messages: [reset_password],
                        options: {dismissible: true}
                    ) }}
                {% endif %}

                {# TODO: deprecate this hook and make a new one that doesn't expect a table as a container #}
                <table class="central">
                    {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::DISPLAY_CENTRAL')) }}
                </table>

                <div class="row">
                    {% for tile in tiles %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex">
                            <a
                                class="card mx-1 my-2 flex-grow-1"
                                href="{{ tile.getTileUrl() }}"
                            >
                                <section class="card-body">
                                    <div class="d-flex">
                                        <div class="aspect-ratio-1">
                                            {{ render_illustration(tile.getIllustration(), 70) }}
                                        </div>
                                        <div class="ms-4">
                                            <h2 class="card-title mb-2">
                                                {{ tile.getTitle() }}
                                            </h2>
                                            <div class="text-secondary remove-last-tinymce-margin">
                                                {{ tile.getDescription()|safe_html }}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="tickets-banner">
            <div class="container-xl">
                {{ tabs.showTabsContent() }}
            </div>
        </div>
    </div>

    <script>
        (async function() {
            const module = await import(
                "{{ js_path('js/modules/Helpdesk/IndexController.js') }}"
            );
            new module.GlpiHelpdeskIndexController();
        })();
    </script>
{% endblock content %}
