{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% for label, items in items_by_label %}
    {% if not loop.first %}
        <hr class="mb-2 mt-0">
    {% endif %}

    <h2 class="search-results-title mt-2 d-flex align-items-center px-3 mb-0">
        <span class="text-muted text-uppercase">{{ label }}</span>
        <span class="ms-2 badge bg-secondary-lt">{{ items|length }}</span>
    </h2>

    <div class="list-group list-group-flush list-group-hoverable pb-3">
        {% for item in items %}
            <div class="list-group-item border-0 pt-1 pb-1">
                <a
                    href="{{ item.getServiceCatalogLink() }}"
                    class="row align-items-center"
                    aria-label="{{ item.getServiceCatalogItemTitle() }}"
                >
                    <div class="col-auto">
                        {{ render_illustration(
                            item.getServiceCatalogItemIllustration(),
                            60,
                        ) }}
                    </div>
                    <div class="col">
                        <span class="text-body d-block mb-1">
                            {{ item.getServiceCatalogItemTitle() }}
                        </span>
                        <div class="text-secondary text-truncate richtext-strip-margin">
                            {{ item.getServiceCatalogItemDescription()|striptags }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="px-3 py-2">
        {{ __("No results found") }}
    </div>
{% endfor %}
