{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}

{% set all_fields = all_fields ?? {} %}

{% set params = {} %}
{# do not display delete button #}
{% set params = params|merge({'candel': false}) %}
{# do not display footer with dates #}
{% set params = params|merge({'formfooter': false}) %}
{% set rand = rand|default(random()) %}

{% block form_fields %}
    <template id="sortable-field-template">
        <div class="g-col-6 sortable-field d-flex align-items-center p-1">
            <input type="hidden" name="fields_display[]" value="" />
            <div class="form-field row flex-grow-1">
                <label class="col-form-label cursor-grab col-xxl-5 text-xxl-end">
                    <slot name="field_label"></slot>
                    <i class="ti ti-grip-vertical sort-handle"></i>
                </label>
                <div class="col-xxl-7 field-container btn-group shadow-none">
                    <input type="text" disabled class="form-control" />
                    <button type="button" class="btn btn-ghost-secondary btn-sm edit-field" title="{{ __("Edit") }}">
                        <i class="ti ti-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-ghost-danger btn-sm remove-field" title="{{ __("Remove") }}">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
            </div>
        </div>
    </template>
    <input type="hidden" name="_update_fields_display" value="1" />

    <div class="row mt-3">
        <div class="col-12">
            {% set btns %}
                <button type="button" class="btn btn-outline-secondary ms-3" id="add-field">
                    {{ __("Add") }}
                </button>
                {{ include('components/form/viewsubitem.html.twig', custom_field_form_params|merge({
                    add_new_btn_class: 'btn-outline-secondary ms-2',
                    add_new_inline: true,
                    rand: rand,
                }), with_context = false) }}
            {% endset %}
            <script>
                function formatAllFields(field) {
                    if ($(`.sortable-field[data-key="${field.id}"]`).length) {
                        return null
                    }
                    $(field.element).attr('data-customfield-id', field.customfields_id);
                    return $(`<span data-customfield-id="${field.customfields_id}">${field.text}</span>`);
                }
            </script>
            {% set get_fields_url = path('ajax/asset/assetdefinition.php?action=get_all_fields&assetdefinitions_id=' ~ item.getID()) %}
            {{ fields.dropdownAjaxField(get_fields_url, 'new_field', '',  _n('Field', 'Fields', 1), {
                rand: rand,
                templateSelection: 'formatAllFields',
                templateResult: 'formatAllFields',
                add_field_html: btns,
                inline_add_field_html: true,
                full_width: true,
                flex_class: 'd-flex',
                helper: __('Fields not added below will be appended at the end of the form rather than be hidden')
            }) }}
        </div>
    </div>
    <div class="grid gap-3 user-select-none" id="sortable-fields"></div>

    <script>
        $(() => {
            const all_fields = {{ all_fields|json_encode()|raw }};
            const fields_display = {{ fields_display|default({})|json_encode()|raw }};

            const append_field = (key) => {
                $('select[name="new_field"]').val(key).trigger('change');
                if (all_fields[key] === undefined) {
                    return;
                }
                const is_custom_field = key.startsWith('custom_');
                const template = document.getElementById('sortable-field-template');
                const clone = template.content.cloneNode(true);
                clone.querySelector('.sortable-field').setAttribute('data-customfield-id', all_fields[key].customfields_id ?? -1);
                clone.querySelector('.sortable-field').setAttribute('data-key', key);
                if (!is_custom_field) {
                    clone.querySelector('.edit-field').setAttribute('disabled', 'disabled');
                }
                const fieldLabel = clone.querySelector('slot[name="field_label"]');
                fieldLabel.textContent = all_fields[key].text ?? all_fields[key];
                const input = clone.querySelector('input[name="fields_display[]"]');
                input.value = key;
                document.getElementById('sortable-fields').appendChild(clone);
            };

            const remove_field = (key) => {
                // remove the field from sortable list
                $(`input[name="fields_display[]"][value="${key}"]`).closest('.sortable-field').remove();
            };

            //for each field in fields_display, add it to the list using the template and slot
            fields_display.forEach(field => {
                append_field(field.key);
            });

            // init sortable lib on fields
            sortable('#sortable-fields', {
                items: '.sortable-field',
                placeholderClass: 'sortable-placeholder g-col-6',
                forcePlaceholderSize: true,
            });

            // add field action
            $('#add-field').on('click', () => {
                //get select2 value
                const field_key = $('#dropdown_new_field{{ rand }}').val();
                if (field_key && field_key != 0 ) {
                    append_field(field_key);
                }
            });

            $('#sortable-fields').on('click', '.edit-field', function() {
                const field_id = $(this).closest('.sortable-field').attr('data-customfield-id');
                viewAddEditSubItem{{ rand }}(field_id);
            }).on('click', '.remove-field', function() {
                const field_key = $(this).closest('.sortable-field').attr('data-key');
                remove_field(field_key);
            });
        });
    </script>
{% endblock %}
