{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% set params  = params ?? [] %}

{% block form_fields %}

    {% if not item.isNewItem() and item.isActive() and not has_rights_enabled %}
        <div class="alert alert-warning" role="alert">
            {{ __('There is currently no profile with access to assets with current definition.') }}
        </div>
    {% endif %}

    {% if item.isNewItem() %}
        {% set helper %}
            {{ __('The system name corresponds to the customizable part of the asset class which will correspond to the current definition. For example, assets linked to the system name "%s" will have the class "%s".')|format('Laptop', 'Glpi\\CustomAsset\\Laptop') }}
            {{ __('The value must contains only letters and must not end by "Model" or "Type".') }}
            {{ __('Also, the value must not be one of the following reserved names: %s.')|format('"' ~ reserved_system_names|join('", "') ~ '"') }}
        {% endset %}
        {{ fields.textField(
            'system_name',
            item.fields['system_name'],
            __('System name'),
            {
                'required': true,
                'pattern': '^(?!(' ~ reserved_system_names|join('|') ~ ')$)[A-Za-z]+(?<!Model|Type)$',
                'helper': helper
            }
        ) }}
    {% else %}
        {% set helper_html %}
            <em class="text-muted">
                {{ __('The class of assets related to current definition is "%s".')|format('Glpi\\CustomAsset\\%s'|format(item.fields['system_name'])) }}
            </em>
        {% endset %}
        {{ fields.textField(
            'system_name',
            item.fields['system_name'],
            __('System name'),
            {
                'disabled': true,
                'add_field_html': helper_html,
            }
        ) }}
    {% endif %}

    {% if not item.isNewItem() %}
        {% set delete_msg %}
            {% if asset_count > 0 %}
                <div class="alert alert-warning">
                    <div class="alert-title">{{ __('This asset definition is used by %d assets.')|format(asset_count) }}</div>
                    <br>
                    <div class="text-secondary">
                        {% if item.fields['is_active'] %}
                            {# Can only view search page when the definition is active #}
                            <a href="{{ asset_search_url }}">{{ __('Show what would be deleted') }}</a>
                        {% else %}
                            {{ __('All assets that are using this definition will also be deleted.') }}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <div class="alert-title">{{ __('This asset definition is not used by any assets.') }}</div>
                </div>
            {% endif %}
        {% endset %}
        <script>
            $(() => {
                const handle_delete = (e) => {
                    e.preventDefault();
                    glpi_confirm({
                        title: '{{ __('Confirm the final deletion?')|e('js') }}',
                        message: '{{ delete_msg|e('js') }}',
                        confirm_callback: () => {
                            // Our 'one' custom handler was already called, so this will call the default one
                            $('.asset button[name="purge"]').click();
                        },
                        cancel_callback: () => {
                            // Rebind our custom handler to be run once
                            $('.asset button[name="purge"]').one('click', handle_delete);
                        },
                        close_callback: () => {
                            // Rebind our custom handler to be run once if the modal is closed
                            $('.asset button[name="purge"]').one('click', handle_delete);
                        },
                    });
                }
                // Using glpi_confirm modal instead of default `confirm` dialog because we have some HTML we want to show while the default window only supports text.
                $('.asset button[name="purge"]').one('click', handle_delete);
            });
        </script>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block more_fields %}
    {{ fields.dropdownWebIcons(
        'icon',
        item.fields['icon'],
        __('Icon'),
    ) }}
{% endblock %}
