{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% macro btn(url, icon, label) %}
   <a class="btn btn-primary me-2" href="{{ url }}">
      <i class="{{ icon }}"></i>
      <span>{{ label }}</span>
   </a>
{% endmacro %}

<div class="center mb-3">
   {{ _self.btn(config('root_doc') ~ '/front/rule.backup.php?action=import', 'ti ti-upload', _x('button', 'Import')) }}
   {{ _self.btn(config('root_doc') ~ '/front/rule.backup.php?action=export', 'ti ti-download', _x('button', 'Export')) }}
</div>
