{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% set params  = params ?? [] %}

{% block more_fields %}
    {{ fields.numberField(
        'memory_size',
        item.fields['memory_size'],
        _n('Memory', 'Memories', 1),
        field_options
    ) }}

    {{ fields.numberField(
        'init_pages_counter',
        item.fields['init_pages_counter'],
        __('Initial page counter'),
        field_options
    ) }}

    {{ fields.numberField(
        'last_pages_counter',
        item.fields['last_pages_counter'],
        __('Current counter of pages'),
        field_options
    ) }}

    {% set flags_html %}
    {{ include('components/form/flags.html.twig') }}
    {% endset %}

    {% if (flags_html|trim)|length %}
        {% set flags_html = '<div class="d-flex flex-wrap">' ~ flags_html ~ '</div>' %}
        {{ fields.htmlField(
            '',
            flags_html,
            _n('Port', 'Ports', get_plural_number()),
        ) }}
    {% endif %}
{% endblock %}
