{#
 # ---------------------------------------------------------------------
 # GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2015-2022 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2003-2014 by the INDEPNET Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # GLPI is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% set params  = params ?? [] %}

{% block more_fields %}
   <input type="hidden" name="itemtype" value="{{ params["itemtype"] }}">
   <input type="hidden" name="items_id" value="{{ params["items_id"] }}">

   {{ fields.nullField() }}

   {{ fields.numberField(
      'position',
      item.fields['position'],
      __('Position')
   ) }}

	{{ fields.dropdownNumberField(
         'to',
         1,
         __('To'),
         {
            'min': 1
         }
      ) }}

		{{ fields.textField(
         'prefix',
         '',
         __('Prefix'),
         {}
      ) }}

		{{ fields.textField(
         'suffix',
         '',
         __('Suffix'),
         {}
      ) }}

		<input type="hidden" name="add_several" value="1">

	{% endif %}

	{% set wiring_side %}
	{% do call('Glpi\\Socket::dropdownWiringSide', [
	         'wiring_side',
	         {
	            'value': item.fields['wiring_side'],
	         }
	      ]) %}
	{% endset %}

	{{ fields.htmlField(
	      'wiring_side',
	      wiring_side,
	      __('Wiring side'),
	   ) }}

	{% if params["several"] is not defined %}
		{{ fields.numberField(
         'position',
         item.fields['position'],
         __('Position')
      ) }}

	{% endif %}

	{% set networkports %}
	{% do call('Glpi\\Socket::showNetworkPortForm', [
            item.fields['itemtype'],
            item.fields['items_id'],
            item.fields['networkports_id'],
            params
         ]) %}
	{% endset %}

	{{ fields.htmlField(
         'networkports_id',
         networkports,
         __('Connected to'),
      ) }}

	{% if item.id %}
		<div class="row">
			<div class="col-12 col-sm-6 mb-3">
				<div class="card mx-n2 border-0 shadow-none">
					<div class="card-header">
						<div class="offset-xxl-5">
							<h4>
								{{ __('Cable') }}
								{{ __('Front') }}</h4>
						</div>
					</div>
					<div class="card-body">
						{% if frontCable %}
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Name') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{{ frontCable.name }}
								</div>
							</div>
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Color') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{{ frontCable.color }}
									<span class="badge" style="background-color: {{ frontCable.color }}">&nbsp;</span>
								</div>
							</div>
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Connected to') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{% if frontCable.sockets_id_endpoint_a != item.id %}
										{{ frontCable.itemtype_endpoint_a }}
										>
										{{ frontCable.endpoint_a_name }}
										>
										{{ frontCable.socket_name_endpoint_a }}
									{% else %}
										{{ frontCable.itemtype_endpoint_b }}
										>
										{{ frontCable.endpoint_b_name }}
										>
										{{ frontCable.socket_name_endpoint_b }}
									{% endif %}
								</div>
							</div>
							<div class="form-field row col-12 col-sm-12 mb-2">
								<div class="offset-xxl-7 mt-2 field-container">
									<a href="/front/cable.form.php?id={{ frontCable.id }}" class='btn btn-primary'>{{ __('Edit') }}</a>
								</div>
							</div>
						{% else %}
							<div class="form-field row col-12 col-sm-12 mb-2">
								<div class="offset-xxl-7 mt-2 field-container">
									<a href="/front/cable.form.php?itemtype_endpoint_a={{ item.fields['itemtype'] }}&items_id_endpoint_a={{ item.fields['items_id'] }}&sockets_id_endpoint_a={{ item.id }}&wiring_side=2" class='btn btn-primary'>{{ __('Add') }}</a>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 mb-3">
				<div class="card mx-n2 border-0 shadow-none">
					<div class="card-header">
						<div class="offset-xxl-5">
							<h4>
								{{ __('Cable') }}
								{{ __('Rear') }}</h4>
						</div>
					</div>
					<div class="card-body">
						{% if rearCable %}
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Name') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{{ rearCable.name }}
								</div>
							</div>
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Color') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{{ rearCable.color }}
								</div>
							</div>
							<div class="form-field row col-12 col-sm-12 mb-2">
								<label class="col-form-label col-xxl-5 text-xxl-end">
									{{ __('Connected to') }}
								</label>
								<div class="col-xxl-7 mt-2 field-container">
									{% if rearCable.sockets_id_endpoint_a != item.id %}
										{{ rearCable.itemtype_endpoint_a }}
										>
										{{ rearCable.endpoint_a_name }}
										>
										{{ rearCable.socket_name_endpoint_a }}
									{% else %}
										{{ rearCable.itemtype_endpoint_b }}
										>
										{{ rearCable.endpoint_b_name }}
										>
										{{ rearCable.socket_name_endpoint_b }}
									{% endif %}
								</div>
							</div>
						{% else %}
							<div class="form-field row col-12 col-sm-12 mb-2">
								<div class="offset-xxl-7 mt-2 field-container">
									<a href="/front/cable.form.php?itemtype_endpoint_a={{ item.fields['itemtype'] }}&items_id_endpoint_a={{ item.fields['items_id'] }}&sockets_id_endpoint_a={{ item.id }}" class='btn btn-primary'>{{ __('Add') }}</a>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
