{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/modals_macros.html.twig' as modals %}

{% macro template_row(template, target, add_mode) %}
    {% set rand = random() %}
    <tr>
        <td>
            {% if add_mode %}
                {% if template['original_url'] is defined %}
                    {% set link_class = 'template-create-link' %}
                    {% set data_template_name = template['name']|striptags %}
                    <a href="#" class="{{ link_class }}" data-template-url="{{ template['original_url'] }}" data-template-name="{{ data_template_name }}" data-template-id="{{ template['id']|default('') }}">
                        {{ template['name']|striptags }}
                    </a>
                {% else %}
                    {{ template['name']|raw }}
                {% endif %}
            {% else %}
                {{ template['name']|raw }}
            {% endif %}
        </td>
        {% if not add_mode and session('glpi_multientitiesmode')|default(false) %}
            <td>{{ template['entity'] }}</td>
        {% endif %}
        {% if not add_mode %}
            <td>
                <form method="post" action="{{ target }}" data-submit-once>
                    {% if template['can_delete'] %}
                        <input type="hidden" name="id" value="{{ template['id'] }}">
                        <button class="btn btn-danger me-2" type="submit" name="purge" value="1"
                                onclick="return confirm('{{ __('Confirm the final deletion?')|e('js') }}');">
                            <i class="ti ti-trash"></i>
                            <span>{{ _x('button', 'Delete permanently') }}</span>
                        </button>
                        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                </form>
            </td>
        {% endif %}
    </tr>
{% endmacro %}

<div class="d-flex mx-auto justify-content-center">
    <div class="card col-10 col-sm-6">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    {% if templates|length == 0 %}
                        <tr>
                            <td>
                                <div class="alert alert-info">{{ __('No results found') }}</div>
                            </td>
                        </tr>
                    {% else %}
                        <thead>
                            <tr>
                                <th>{{ _n('Template', 'Templates', 1) }}</th>
                                {% if not add_mode and session('glpi_multientitiesmode')|default(false) %}
                                    <th>{{ 'Entity'|itemtype_name(1) }}</th>
                                {% endif %}
                                {% if not add_mode %}
                                    <th>{{ _n('Action', 'Actions', get_plural_number()) }}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for template in templates %}
                                {{ _self.template_row(template, target, add_mode) }}
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        {% if add_template %}
            <div class="card-footer text-center py-2">
                <a href="{{ target_create }}" class="mt-3">{{ __('Add a template') }}</a>
            </div>
        {% endif %}
    </div>
</div>

{% if add_mode %}
    {% set confirm_modal_id = 'template_confirm_modal_' ~ random() %}
    {{ modals.confirm(
        __('Créer un projet'),
        __('Voulez-vous créer un nouveau projet à partir de ce template ?'),
        {
            'id': confirm_modal_id,
            'confirm_label': '<i class="ti ti-plus me-1"></i>' ~ __('Créer le projet'),
            'confirm_event': 'confirmTemplateSelection();',
            'cancel_label': __('Annuler')
        }
    ) }}

    <script type="text/javascript">
        $(document).ready(function() {
            var selectedTemplateUrl = '';

            // Intercept clicks on template links
            $('.template-create-link').on('click', function(e) {
                e.preventDefault();

                var templateName = $(this).data('template-name') || $(this).text().trim();
                var templateUrl = $(this).data('template-url');

                // If we don't have URL in data-template-url, rebuild the URL
                if (!templateUrl) {
                    var href = $(this).attr('href');
                    if (href && href !== '#') {
                        templateUrl = href;
                    }
                }

                selectedTemplateUrl = templateUrl;

                // Update modal text with template name
                $('#{{ confirm_modal_id }} .modal-body').html(
                    '{{ __('Voulez-vous créer un nouveau projet à partir du template') }} <strong>' + templateName + '</strong> ?'
                );

                // Show the modal
                $('#{{ confirm_modal_id }}').modal('show');
            });

            // Function called when confirming selection
            window.confirmTemplateSelection = function() {
                if (selectedTemplateUrl) {
                    window.location.href = selectedTemplateUrl;
                }
            };
        });
    </script>
{% endif %}
