{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<form data-glpi-kb-aside-category-form novalidate>
    <input type="hidden" name="knowbaseitemcategories_id" value="{{ parent_id }}">

    {% if parent_id > 0 %}
        <div class="mb-3" data-glpi-kb-modal-parent-chip>
            <span class="text-secondary me-2">{{ __('Parent:') }}</span>
            <span class="badge bg-secondary-lt text-secondary">{{ parent_name }}</span>
        </div>
    {% endif %}

    <div class="mb-3">
        <label class="form-label required" for="kb-aside-category-name">{{ __('Name') }}</label>
        <input
            type="text"
            class="form-control"
            id="kb-aside-category-name"
            name="name"
            required
            autofocus
            autocomplete="off"
            aria-describedby="kb-aside-category-name-error"
        >
        <div
            class="invalid-feedback"
            id="kb-aside-category-name-error"
            role="alert"
            data-glpi-kb-modal-name-error
        ></div>
    </div>

    <div class="alert alert-danger d-none" data-glpi-kb-modal-global-error role="alert"></div>

    <div class="d-flex justify-content-end">
        <button
            type="button"
            class="btn btn-ghost-secondary me-2"
            data-bs-dismiss="modal"
        >{{ __('Cancel') }}</button>
        <button
            type="submit"
            class="btn btn-primary"
            data-glpi-kb-modal-submit
        >{{ __('Create') }}</button>
    </div>
</form>
