{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set fields_options = {
    full_width: true,
    is_horizontal: false,
} %}

<div class="d-flex mb-3 justify-content-between align-items-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-note-form" aria-label="{{ _x('button', 'Add a note') }}">
        <i class="ti ti-link"></i>
        <span>{{ _x('button', 'Add a note') }}</span>
    </button>

    {% if notes|length > 0 %}
        <small class="me-2">
            <a href="#" class="text-decoration-none text-secondary toggle-all-notes d-flex align-items-center gap-1"
               style="cursor: pointer; transition: color 0.2s ease;"
               onmouseover="this.style.color='#0d6efd'"
               onmouseout="this.style.color=''"
               data-expand-text="{{ __('Expand all') }}"
               data-collapse-text="{{ __('Collapse all') }}"
               data-expand-title="{{ __('Expand all') }}"
               data-collapse-title="{{ __('Collapse all') }}">
                <i class="ti ti-eye"></i>
                <span>{{ __('Collapse all') }}</span>
            </a>
        </small>
    {% endif %}
</div>

<div class="my-3">
    <div id="new-note-form" class="modal fade">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="ti ti-notes"></i>
                        {{ __('Add a note') }}
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="{{ url }}" method="post" autocomplete="off" data-submit-once>
                    <div class="modal-body">
                        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="itemtype" value="{{ itemtype }}" />
                        <input type="hidden" name="items_id" value="{{ items_id }}" />
                        {{ fields.textareaField(
                            'content',
                            '',
                            __("Content"),
                            fields_options|merge({
                                enable_richtext: true,
                                enable_fileupload: true,
                            })
                        ) }}

                        {% if itemtype == "Entity" %}
                            {{ fields.sliderField(
                                'visible_from_ticket',
                                false,
                                __('Visible on tickets'),
                                fields_options
                            ) }}
                        {% endif %}
                    </div>

                    <div class="modal-footer">
                        <button type="submit" value="Add" name="add" class="btn btn-primary">
                            <span>{{ __('Add') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    {% for note in notes %}
        {% set id = "note#{ note['id'] }#{ rand }" %}
        <div class="accordion-item">
            <div class="accordion-header">
                <button
                    class="accordion-button d-flex align-self-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ id }}"
                    aria-expanded="true"
                    aria-controls="{{ id }}"
                    data-testid="note-container"
                >
                    <i class="ti ti-notes"></i>
                    {% set title = '#' ~ note['id'] ~ ' - ' ~ note['date_creation']|formatted_datetime %}
                    {% if note['date_mod'] != note['date_creation'] %}
                        {% set title = title ~ ' (' ~ __('Last update on %s')|format(note['date_mod']|formatted_datetime) ~ ')' %}
                    {% endif %}
                    <span>{{ title }}</span>
                </button>
            </div>

            <div id="{{ id }}" class="accordion-collapse collapse show">
                <div class="accordion-body pt-0">
                    <form action="{{ url }}" method="post" autocomplete="off" data-submit-once>
                        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="id" value="{{ note['id'] }}" />
                        <div class="d-flex justify-content-between mb-2">
                            <span class="d-inline-flex creator">
                                {{ include('components/itilobject/timeline/timeline_item_header_badges.html.twig', {
                                    'users_id': note['users_id'],
                                    'date_creation': note['date_creation'],
                                    'date_mod': note['date_mod'],
                                    'users_id_editor': note['users_id_lastupdater'],
                                    'anchor': 'Notepad' ~ '_' ~ note['id'],
                                    'user_object': null,
                                }, with_context = false) }}
                            </span>

                            <span>
                                <button
                                    class="btn btn-sm btn-ghost-danger delete-note"
                                    name="purge"
                                    type="submit"
                                    value="1"
                                    onclick="return confirm('{{ __('Confirm the final deletion?')|e('js') }}');"
                                    data-id="{{ id }}"
                                    aria-label="{{ __("Delete") }}"
                                >
                                    <i class="ti ti-trash"></i>
                                    <span>{{ __('Delete') }}</span>
                                </button>

                                <button
                                    class="btn btn-sm btn-ghost-secondary edit-note"
                                    type="button"
                                    data-id="{{ id }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#edit-{{ id }}"
                                    aria-label="{{ __("Edit") }}"
                                >
                                    <i class="ti ti-edit"></i>
                                    <span>{{ __('Edit') }}</span>
                                </button>
                            </span>
                        </div>

                        <div
                            class="rich_text_container"
                            id="contentread{{ id }}"
                            data-testid="note-content"
                        >
                            {{ note['content']|safe_html }}
                        </div>

                        {{ include('components/itilobject/timeline/sub_documents.html.twig', {
                            'item': get_item(note['itemtype'], note['items_id']),
                            'entry': note
                        }) }}

                    </form>

                    <div id="edit-{{ id }}" class="modal fade">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <form action="{{ url }}" method="post" autocomplete="off" data-submit-once>
                                    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="id" value="{{ note['id'] }}" />

                                    <div class="modal-header">
                                        <h3 class="modal-title">
                                            <i class="ti ti-notes"></i>
                                            {{ __('Edit a note') }}
                                        </h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        {{ fields.textareaField(
                                            'content',
                                            note['content'],
                                            __('Content'),
                                            fields_options|merge({
                                                enable_richtext: true,
                                                enable_fileupload: true,
                                            })
                                        ) }}
                                        <br>

                                        {% if itemtype == "Entity" %}
                                            {{ fields.sliderField(
                                                'visible_from_ticket',
                                                note['visible_from_ticket'],
                                                __('Visible on tickets'),
                                                fields_options
                                            ) }}
                                        {% endif %}
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-outline-danger" type="submit" name="purge" value="1"
                                                onclick="return confirm('{{ __('Confirm the final deletion?')|e('js') }}');"
                                                data-bs-toggle="tooltip" data-bs-position="top"
                                                title="{{ _x('button', 'Delete permanently') }}">
                                            <i class="ti ti-trash"></i>
                                        </button>

                                        <button
                                            type="submit"
                                            value="Update"
                                            name="update"
                                            class="btn btn-primary"
                                            aria-label="{{ __('Update') }}"
                                        >
                                            <i class="ti ti-device-floppy"></i>
                                            <span>{{ __('Update') }}</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
/**
 * Toggle all accordions in a notepad container with Bootstrap transitions
 *
 * @param {Element} element - The element that was clicked (button or link)
 */
function toggleNotesAccordion(element) {
    // Find the accordion container - it's the next sibling div after the modal div
    const buttonsContainer = element.closest('.d-flex.mb-3');
    const modalContainer = buttonsContainer.nextElementSibling;
    const accordionContainer = modalContainer.nextElementSibling;

    if (!accordionContainer || !accordionContainer.classList.contains('accordion')) {
        console.warn('Accordion container not found');
        return;
    }

    const accordionElements = accordionContainer.querySelectorAll('.accordion-collapse');
    const elementText = element.querySelector('span');
    const elementIcon = element.querySelector('i');
    const isExpanding = elementText.textContent.includes(element.dataset.expandText);

    // Use Bootstrap's native collapse methods for smooth transitions
    accordionElements.forEach(function(accordion) {
        try {
            const bsCollapse = new bootstrap.Collapse(accordion, { toggle: false });

            if (isExpanding) {
                bsCollapse.show();
            } else {
                bsCollapse.hide();
            }
        } catch (error) {
            console.error('Error with bootstrap.Collapse:', error);
        }
    });

    // Update element text and icon (if present)
    if (isExpanding) {
        elementText.textContent = element.dataset.collapseText;
        element.title = element.dataset.collapseTitle;
        if (elementIcon) {
            elementIcon.className = 'ti ti-eye';
        }
    } else {
        elementText.textContent = element.dataset.expandText;
        element.title = element.dataset.expandTitle;
        if (elementIcon) {
            elementIcon.className = 'ti ti-eye-off';
        }
    }
}

// Event listener for toggle all notes button/link
function setupToggleButton() {
    const toggleButton = document.querySelector('.toggle-all-notes');

    if (toggleButton && !toggleButton.hasAttribute('data-listener-added')) {
        toggleButton.setAttribute('data-listener-added', 'true');
        toggleButton.addEventListener('click', function(e) {
            e.preventDefault();
            toggleNotesAccordion(this);
        });
    }
}

setupToggleButton();

//try with DOMContentLoaded in case DOM is not ready
document.addEventListener('DOMContentLoaded', function() {
});
</script>
