<table class="tab_cadrehov">
   <tr class="noHover">
      <th colspan="4">{{ list.title }}</th>
   </tr>
   <tr>
      <th style="width: 75px">{{ __('ID') }}</th>
      <th style="width: 20%;">{{ _n('Requester', 'Requesters', 1) }}</th>
      <th style="width: 20%;">{{ _n('Associated element', 'Associated elements', getPluralNumber()) }}</th>
      <th>{{ __('Description') }}</th>
      {% for item in list.items %}
      
      {% endfor %}
   </tr>
</table>
