{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2022 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends 'layout/page_card_notlogged.html.twig' %}

{% block content_block %}
   <form action="{{ path('front/login.php') }}" method="post" autocomplete="off"  data-submit-once>
      <input type="hidden" name="noAUTO" value="{{ noAuto }}" />
      <input type="hidden" name="redirect" value="{{ redirect }}" />
      <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />

      <div class="row justify-content-center">
         <div class="col-md-5">

            <h2 class="card-header text-center mb-4">{{ __('Login to your account') }}</h2>
            <div class="mb-3">
               <label class="form-label">{{ __('Login') }}</label>
               <input type="text" class="form-control" id="login_name" name="{{ namfield }}" placeholder="" tabindex="1" />
            </div>
            <div class="mb-4">
               <label class="form-label">
                  {{ __('Password') }}

                  {% if show_lost_password %}
                     <span class="form-label-description">
                        <a href="{{ path('front/lostpassword.php?lostpassword=1') }}">
                           {{ __('Forgotten password?') }}
                        </a>
                     </span>
                  {% endif %}
               </label>
               <input type="password" class="form-control" name="{{ pwdfield }}" placeholder="" autocomplete="off" tabindex="2" />
            </div>

            {% if constant('GLPI_DEMO_MODE') %}
               <div class="mb-3">
                  <label class="form-label">{{ __('Language') }}</label>
                  {{ languages_dropdown|raw }}
               </div>
            {% endif %}

            {% if config('display_login_source') %}
               <div class="mb-3">
                  <label class="form-label">{{ __('Login source') }}</label>
                  {{ auth_dropdown_login|raw }}
               </div>
            {% endif %}

            {% if config('login_remember_time') %}
               <div class="mb-2">
                  <label class="form-check">
                     <input type="checkbox" class="form-check-input" name="{{ rmbfield }}" {{ config('login_remember_default') ? 'checked' : '' }} />
                     <span class="form-check-label">{{ __('Remember me') }}</span>
                  </label>
               </div>
            {% endif %}

            <div class="form-footer">
               <button type="submit" name="submit" class="btn btn-primary w-100" tabindex="3">
                  {{ __('Sign in') }}
               </button>
            </div>

            {% if errors|length > 0 %}
               <hr />
               <div class="alert alert-danger" role="alert">
                  {{ errors }}
               </div>
            {% endif %}
         </div>

         {% if right_panel %}
            <div class="col-auto offset-md-1 p-2 text-center">
               {% if text_login|length > 0 %}
                  <div class="rich_text_container">
                     {{ text_login|safe_html }}
                  </div>
               {% endif %}

               {% if config('use_public_faq') %}
                  <hr />

                  <a class="btn btn-outline-secondary btn-icon" href="front/helpdesk.faq.php">
                     <i class="fas fa-question"></i>&nbsp;
                     {{ __('FAQ') }}
                  </a>
               {% endif %}

               <hr />

               {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::DISPLAY_LOGIN')) }}
            </div>
         {% endif %}
      </div>
   </form>
{% endblock %}

{% block footer_block %}
   {{ copyright_message|raw }}
{% endblock %}

{% block javascript_block %}
<script type="text/javascript">
   $(function () {
$('#login_name').focus();
});
</script>
{% endblock %}
