<div class='container'>
   <div class='row justify-content-evenly'>
   {% if have_right('config', constant('UPDATE')) %}
      <div class='card col-12 col-lg-5'>
         <form method="POST" action="{{ path('/front/setup.notification.php') }}">
            <div class='card-header'>
               <h3>{{ __('Notifications configuration') }}</h3>
            </div>

            {% if config('use_notifications') and not has_active_mode %}
               <div class='alert alert-important alert-warning m-3'>
                  <i class='fa fa-exclamation-triangle me-2'></i>
                  {{ __('You must enable at least one notification mode.') }}
               </div>
            {% endif %}

            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <div class="form-check form-switch">
                     <input name="use_notifications" type="hidden" value="0">
                     <input name="use_notifications" id="use_notifications"
                           class="form-check-input" type="checkbox"
                           {{ use_notifications ? 'checked="checked"' : '' }}>
                     <label class="form-check-label" for="use_notifications">
                        {{ __('Enable followup') }}
                     </label>
                  </div>
               </li>
               {% for mode_key, mode in modes %}
                  {% set mode_disabled = not use_notifications %}
                  <li class="list-group-item {{ mode_disabled ? "disabled" : "" }}">
                     <div class="form-check form-switch">
                        <input name="notifications_{{ mode_key }}" type="hidden" value="0">
                        <input name="notifications_{{ mode_key }}" id="notifications_{{ mode_key }}"
                              class="form-check-input" type="checkbox"
                              {{ mode['is_active'] ? 'checked="checked"' : '' }}
                              {{ mode_disabled ? 'disabled' : '' }}>
                        <label class="form-check-label" for="notifications_{{ mode_key }}">
                           {{ mode['label'] }}
                        </label>
                     </div>
                  </li>
               {% endfor %}
            </ul>

            <div class='card-footer'>
               <button type="submit" class="btn btn-primary">
                  <i class='fas fa-save'></i>
                  <span>{{ __('Save') }}</span>
               </button>
            </div>

            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>
         </form>
      </div>
   {% endif %}

   {% if has_active_mode %}
      <div class='card col-12 col-lg-5 mt-4 mt-lg-0'>
         <div class='card-header'>
            <h3>{{ _n('Notification', 'Notifications', getPluralNumber()) }}</h3>
         </div>

         <div class="list-group list-group-flush">
            {% if have_right('config', constant('READ')) %}
               <a href="{{ path('front/notificationtemplate.php') }}" class="list-group-item list-group-item-action">
                  <i class="fa-fw fas fa-layer-group"></i>
                  <span>{{ _n('Notification template', 'Notification templates', getPluralNumber()) }}</span>
               </a>
            {% endif %}

            {% if have_right('notification', constant('READ')) %}
               <a href="{{ path('front/notification.php') }}" class="list-group-item list-group-item-action">
                  <i class="fa-fw fas fa-bell "></i>
                  <span>{{ _n('Notification', 'Notifications', getPluralNumber()) }}</span>
               </a>
            {% else %}
               <div class="list-group-item">
                  <div class='alert alert-important alert-warning m-3'>
                     <i class='fa fa-exclamation-triangle me-2'></i>
                     {{ __('Unable to configure notifications: please configure at least one followup type using the above configuration.') }}
                  </div>
               </div>
            {% endif %}

            {% for mode in modes %}
               {% if can_update_config and mode['is_active'] %}
                  <a href="{{ mode['setting_url'] }}" class="list-group-item list-group-item-action">
                     <i class="fa-fw {{ mode['icon'] }}"></i>
                     <span>{{ mode['label_settings'] }}</span>
                  </a>
               {% endif %}
            {% endfor %}
         </div>

      </div
   {% endif %}
   </div>
</div>
