{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "pages/setup/general/base_form.html.twig" %}

{% set field_options = {
    'field_class': 'col-12 col-xxl-6 col-sm-6',
    'label_class': 'col-xxl-8',
    'input_class': 'col-xxl-4',
} %}

{% set field_options = {
    'field_class': 'col-12 col-xxl-6 col-sm-6',
    'full_width': true,
} %}

{% set inline_field_options = field_options|merge({
    'input_addclass': 'w-auto'
}) %}

{% block config_fields %}
   {% set config_scope = constant('Glpi\\Config\\ConfigScope::GLOBAL') %}

    <div class="row ps-4">
        {{ _self.render_option(options['url_base'], config_scope, field_options) }}
        {{ _self.render_option(options['text_login'], config_scope, field_options) }}
        {{ _self.render_option(options['helpdesk_doc_url'], config_scope, field_options) }}
        {{ _self.render_option(options['central_doc_url'], config_scope, field_options) }}
        {{ _self.render_option(options['decimal_number'], config_scope, inline_field_options) }}
        {{ _self.render_option(options['use_public_faq'], config_scope, field_options) }}
    </div>

    {{ _self.render_section_header_centered(config_section('general.dynamic_ui')) }}
    <div class="row ps-4">
        {{ _self.render_option(options['dropdown_max'], config_scope, inline_field_options) }}
        {{ _self.render_option(options['ajax_limit_count'], config_scope, inline_field_options|merge({
            'width': 'auto'
        })) }}
    </div>

    {{ _self.render_section_header_centered(config_section('general.search')) }}
    <div class="row ps-4">
        {{ _self.render_option(options['allow_search_view'], config_scope, inline_field_options|merge({
            'width': 'auto'
        })) }}
        {{ _self.render_option(options['allow_search_global'], config_scope, inline_field_options|merge({
            'width': 'auto'
        })) }}
        {{ _self.render_option(options['allow_search_all'], config_scope, inline_field_options|merge({
            'width': 'auto'
        })) }}
        {{ _self.render_option(options['list_limit_max'], config_scope, inline_field_options) }}
        {{ _self.render_option(options['cut'], config_scope, inline_field_options) }}
        {{ _self.render_option(options['url_maxlength'], config_scope, inline_field_options) }}
    </div>

    {{ _self.render_section_header_centered(config_section('general.item_locks')) }}
    <div class="row ps-4">
        {% set locks_rand = random() %}
        {% set id_lock_use_lock_item = 'lock_use_lock_item_' ~ locks_rand %}
        {% set id_lock_lockprofile_id = 'dropdown_lock_lockprofile_id' ~ locks_rand %}
        {% set id_lock_item_list_id = 'dropdown_lock_item_list' ~ locks_rand %}
        {% set lock_options = field_options %}
        {% if not options['lock_use_lock_item'].getValue(config_scope, false) %}
            {% set lock_options = lock_options|merge({
                'disabled': true,
            }) %}
        {% endif %}

        {{ _self.render_option(options['lock_use_lock_item'], config_scope, field_options|merge({
            'id': id_lock_use_lock_item,
        })) }}
        {{ _self.render_option(options['lock_lockprofile_id'], config_scope, inline_field_options|merge(lock_options)|merge({
            'width': 'auto',
            'rand': locks_rand,
            'condition': {
                'interface': 'central',
            }
        })) }}

        {{ _self.render_option(options['lock_item_list'], config_scope, lock_options|merge({
            'rand': locks_rand,
            'multiple': true,
            'values': config['lock_item_list'],
        })) }}

        <script>
            $(function(ready){
                $('#{{ id_lock_use_lock_item }}').change(function(){
                    var enabled = this.checked;
                    $('#{{ id_lock_lockprofile_id }}').prop('disabled', !enabled);
                    $('#{{ id_lock_item_list_id }}').prop('disabled', !enabled);
                });
            });
        </script>
    </div>

    <div class="hr-text">
        <i class="ti ti-layout-kanban"></i>
        <span>{{ __('Project Task State') }}</span>
    </div>

    <div class="row ps-4">

        {{ fields.dropdownField(
            'ProjectState',
            'projecttask_unstarted_states_id',
            config['projecttask_unstarted_states_id']|default('0'),
            __('Status of unstarted tasks'),
            inline_field_options|merge({
                'width': 'auto',
            })
        ) }}

        {{ fields.dropdownField(
            'ProjectState',
            'projecttask_inprogress_states_id',
            config['projecttask_inprogress_states_id']|default('0'),
            __('Status of tasks in progress'),
            inline_field_options|merge({
                'width': 'auto',
            })
        ) }}

        {{ fields.dropdownField(
            'ProjectState',
            'projecttask_completed_states_id',
            config['projecttask_completed_states_id']|default('0'),
            __('Status of tasks done'),
            inline_field_options|merge({
                'width': 'auto',
            })
        ) }}
    </div>

    <div class="hr-text">
        <i class="ti ti-login"></i>
        <span>{{ __('Auto Login') }}</span>
    </div>

    <div class="row ps-4">

        {{ fields.dropdownTimestampField(
            'login_remember_time',
            config['login_remember_time'],
            __('Time to allow "Remember Me"'),
            inline_field_options|merge({
                'emptylabel': __('Disabled'),
                'min': 0,
                'max': constant('MONTH_TIMESTAMP') * 2,
                'step': constant('DAY_TIMESTAMP'),
                'toadd': [
                    constant('HOUR_TIMESTAMP'),
                    constant('HOUR_TIMESTAMP') * 2,
                    constant('HOUR_TIMESTAMP') * 6,
                    constant('HOUR_TIMESTAMP') * 12
                ],
                'width': 'auto',
            })
        ) }}

        {{ fields.checkboxField(
            'login_remember_default',
            config['login_remember_default'],
            __("Default state of checkbox"),
            field_options
        ) }}

        {{ fields.checkboxField(
            'display_login_source',
            config['display_login_source'],
            __('Display source dropdown on login page'),
            field_options
        ) }}
    </div>

    {{ _self.render_section_header_centered(config_section('general.auto_login')) }}
    <div class="row ps-4">
        {{ _self.render_option(options['login_remember_time'], config_scope, inline_field_options|merge({
            'width': 'auto'
        })) }}
        {{ _self.render_option(options['login_remember_default'], config_scope, field_options) }}
        {{ _self.render_option(options['display_login_source'], config_scope, field_options) }}
    </div>
{% endblock %}
