{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% if not services_available %}
    <div class="alert alert-warning">
        <div class="alert-title">{{ __('%1$s services website seems to be unavailable from your network or offline!')|format(__('GLPI Network')) }}</div>
        <span class="text-secondary">
            {% if curl_error is not null %}
                {{ __('Error was: %s')|format(curl_error) }}
            {% endif %}
        </span>
    </div>
{% endif %}

{% set form_path = form_path|default('Config'|itemtype_form_path) %}
<form name="form"
      action="{{ form_path }}"
      method="post"
      data-track-changes="true">
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />

    {{ fields.largeTitle(__('Registration'), 'ti ti-shield-star', true) }}

    {% if registration_key is empty %}

        {% set registration_alert %}
            <div class="alert alert-info mb-0 d-inline-flex mt-3">
                <div class="alert-icon">
                    <i class="ti ti-shield-check"></i>
                </div>
                <div>
                    <h4 class="alert-heading">{{ __('A registration key is needed to use some advanced features (like the plugin marketplace) in GLPI') }}</h4>
                    <div class="alert-description">
                        <a href="{{ constant('GLPI_NETWORK_SERVICES') }}" class="btn btn-sm btn-outline-secondary me-1" target="_blank" rel=\"noopener noreferrer\">
                            <i class="ti ti-external-link"></i>
                            <span>{{ __('Register on %1$s!')|format(__('GLPI Network')) }}</span>
                        </a>
                        {{ __("And retrieve your key to paste it below") }}
                    </div>
                </div>
            </div>
        {% endset %}

        {{ fields.htmlField('', registration_alert, null, {
            full_width: true,
        }) }}

        {{ fields.passwordField(
            'glpinetwork_registration_key',
            registration_key,
            __('Registration key'),
            {
                full_width: true,
                'is_disclosable': true,
            }
        ) }}

    {% else %}
        {% if informations['validation_message'] is not empty %}
            {% set subscription_ok = informations['is_valid'] and informations['subscription']['is_running'] %}
            {% set alert_sub_ok %}
                <span class="{{ subscription_ok ? 'text-success' : 'text-danger' }}">
                    <i class="ti ti-info-circle"></i>
                    {{ informations['validation_message'] }}
                </span>
            {% endset %}
            {{ fields.htmlField('', alert_sub_ok, null, {
                full_width: true,
            }) }}
        {% endif %}

        {% if informations['is_valid'] %}
            {{ fields.htmlField('', informations['subscription']['title']|e, __('Subscription'), {
                full_width: true,
            }) }}

            {{ fields.htmlField('', __('From %1$s to %2$s')|format("<b>" ~ informations['subscription']['begin_date']|formatted_date|e ~ "</b>", "<b>" ~ informations['subscription']['end_date']|formatted_date|e ~ "</b>"), __('Period'), {
                full_width: true,
            }) }}

            {{ fields.htmlField('', informations['owner']['name']|e, __('Registered by'), {
                full_width: true,
            }) }}
        {% endif %}

        {% set clear_btn %}
            <button type="submit" name="reset_registration_key" value="1" class="ms-auto btn btn-outline-danger">
                <i class="ti ti-x"></i>
                <span>{{ __('Remove registration key') }}</span>
            </button>
        {% endset %}

        {{ fields.htmlField('', clear_btn, null, {
            full_width: true,
        }) }}
    {% endif %}



    {{ fields.largeTitle(__('Marketplace'), 'ti ti-puzzle') }}


    {{ fields.dropdownArrayField(
        'marketplace_replace_plugins',
        config('marketplace_replace_plugins')|default(1),
        {
            '1': __('Ask before replacing'),
            '2': __('Replace plugins page with marketplace'),
            '3': __('Never replace plugins page')
        },
        __('Plugin page replacement'),
        {
            'full_width': true,
            'helper': __('Choose whether to replace the classic plugins page with the new marketplace interface.')
        }
    ) }}

    {% set btns_marketplace %}
        <a href="{{ path('/front/marketplace.php')|e }}" class="btn btn-outline-secondary btn-sm">
            <i class="ti ti-arrow-narrow-right-dashed"></i>
            <span>{{ __('Access GLPI Network Marketplace') }}</span>
        </a>
    {% endset %}

    {{ fields.htmlField('', btns_marketplace, null, {
        full_width: true,
    }) }}

    {% if canedit %}
        <div class="card-footer mx-n2 d-flex">
            <button type="submit" name="update" value="1" class="ms-auto btn btn-primary">
                <i class="ti ti-device-floppy"></i>
                <span>{{ _x('button', 'Save') }}</span>
            </button>
        </div>
    {% endif %}
</form>
