{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div class="container ms-0 px-4 py-3">
    <h1 class="fw-bold" data-testid="subject">{{ subject }}</h1>
    <div class="text-muted d-flex align-items-center gap-3">
        {# Last update #}
        <div class="d-flex align-items-center" data-testid="last-update">
            <i class="ti ti-clock me-1 fs-3"></i>
            <span>
                <span>{{ __("Updated:") }}</span>
                <span
                    title="{{ last_update_date }}"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                >{{ last_update_relative_date }}</span>
                <span>{{ __("by") }}</span>
            </span>
            {% if last_update_author_link is not null and last_update_can_view_author %}
                <a
                    href="{{ last_update_author_link }}"
                    class="badge bg-azure-lt ms-1"
                    data-testid="author_link"
                >
                    @{{ last_update_author_name }}
                </a>
            {% else %}
                <span class="badge bg-dark-lt ms-1">
                    @{{ last_update_author_name }}
                </span>
            {% endif %}
        </div>

        {# Views #}
        <div class="d-flex align-items-center">
            <i class="ti ti-eye me-1 fs-3"></i>
            <span data-testid="views">
                {% if views == 0 %}
                    {{ __("No views") }}
                {% elseif views == 1 %}
                    {{ __("1 view") }}
                {% else %}
                    {{ __("%s views")|format(formatted_views) }}
                {% endif %}
            </span>
        </div>
    </div>

    <hr class="mt-4 mb-4">

    <div class="rich_text_container" data-testid="content">
        {{ answer|safe_html }}
    </div>
</div>
