{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

<form method="post" action="{{ 'KnowbaseItem_Item'|itemtype_form_path }}">
    {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}
    {% if get_class(item) == 'KnowbaseItem' %}
        {{ inputs.hidden('knowbaseitems_id', item.getID()) }}
    {% else %}
        {{ inputs.hidden('items_id', item.getID()) }}
        {{ inputs.hidden('itemtype', get_class(item)) }}
    {% endif %}
    <div class="d-flex">
        <div class="col-auto">
        {% if get_class(item) == 'KnowbaseItem' %}
            {# TODO pass used array to restrict visible items in list #}
            {% set dropdown %}
                {% do call('KnowbaseItem_Item::dropdownAllTypes', [item, 'items_id']) %}
            {% endset %}
            {{ fields.htmlField('', dropdown, __('Add a linked item')) }}
        {% else %}
            {{ 'KnowbaseItem'|itemtype_dropdown({
                'entity': item.getEntityID(),
                'used': used_knowbase_items,
                'condition': visibility_condition
            }) }}
        {% endif %}
        </div>
        <div class="col-auto">
            {{ inputs.submit('add', _x('button', 'Add'), 1, {'class': 'btn btn-primary ms-1', 'icon': 'ti ti-link'}) }}
        </div>
    </div>
</form>
