{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set _classes = 'alert alert-' ~ this.type %}
{% if important|default(false) %}
    {% set _classes = _classes ~ ' alert-important' %}
{% endif %}

<div class="{{ _classes }}">
    <div class="d-flex gap-2 w-full">
        <div>
            <i class="{{ this.resolvedIcon }} fs-2x alert-icon"></i>
        </div>
        <div class="flex-grow-1">
            {% block title %}
                {% if title|length %}
                    <h4 class="alert-title">
                        {{ title }}
                    </h4>
                {% endif %}
            {% endblock %}
            {% block content %}
                {% if message %}
                    <div class="text-muted">
                        {{ message }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        {% if link_url %}
            <div>
                <a class="alert-link"
                   href="{{ link_url }}"
                   target="{{ link_blank ? '_blank' : '_self' }}"
                >
                    {{ link_text ? link_text : link_url }}
                </a>
            </div>
        {% endif %}
    </div>
</div>
