
{% set links = menu[sector]['content'][item]['options'][option]['links'] ?? menu[sector]['content'][item]['links'] %}

{# @TODO  border-start is not implemented in current boostrap beta (remove border-left when done)  #}
<ul class="nav navbar-nav border-start border-left ps-2 flex-row">

{% if links['add'] is defined %}
<li class="nav-item">
   <a href="{{ path(links['add']) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __('Add') }}">
      <i class="fas fa-plus"></i>
      <span class="d-none d-md-block">{{ __('Add') }}</span>
   </a>
</li>
{% endif %}

{% if links['search'] is defined %}
<li class="nav-item">
   <a href="{{ path(links['search']) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __('Search') }}">
      <i class="fas fa-search"></i>
      <span class="d-none d-md-block">{{ __('Search') }}</span>
   </a>
</li>
{% endif %}

{% for type, link in links %}
   {% if type == 'add' or type == 'search' %}
   {% elseif type == 'template' %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __("Manage templates...") }}">
            <i class="fas fa-layer-group"></i>
            <span class="d-none d-md-block">{{ __("Manage templates...") }}</span>
         </a>
      </li>
   {% elseif type == 'showall' %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __("Show all") }}">
            <img src="{{ path("/pics/menu_showall.png") }}">
            <span class="d-none d-md-block">{{ __("Show all") }}</span>
         </a>
      </li>
   {% elseif type == 'summary' %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __("Summary") }}">
            <i class="fas fa-stream"></i>
            <span class="d-none d-md-block">{{ __("Summary") }}</span>
         </a>
      </li>
   {% elseif type == 'summary_kanban' %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __("Global Kanban") }}">
            <i class="fas fa-columns"></i>
            <span class="d-none d-md-block">{{ __("Global Kanban") }}</span>
         </a>
      </li>
   {% elseif type == 'config' %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2" title="{{ __("Setup") }}">
            <img src="{{ path("/pics/menu_config.png") }}">
            <span class="d-none d-md-block">{{ __("Setup") }}</span>
         </a>
      </li>
   {% else %}
      <li class="nav-item">
         <a href="{{ path(link) }}" class="btn btn-sm btn-outline-secondary me-2">
            {{ type|raw }}
         </a>
      </li>
   {% endif %}

{% endfor %}
</ul>