<div class="collapse navbar-collapse" id="navbar-menu">
   <ul class="navbar-nav pt-lg-3">
   {% for firstlevel in menu %}
      {% if firstlevel['content'] is defined %}
      <li class="nav-item dropdown {{ menu[sector]['title'] == firstlevel['title'] ? 'active' : '' }}">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
            <!--href="{{ firstlevel['default'] is empty ? '#' : path(firstlevel['default']) }}"-->
            >
            {{ firstlevel['title'] }}
         </a>
         <div class="dropdown-menu">
         {% for sublevel in firstlevel['content'] %}
            {% if sublevel['page'] is defined %}
            {# @TODO active class #}
            <a class="dropdown-item" href="{{ path(sublevel['page']) }}"
               accesskey="{{ sublevel['shortcut'] ?? "" }}">
               <i class="fa-fw {{ sublevel['icon'] ?? "" }}"></i>
               {# @TODO shortcut function for adding a <u> on title #}
               {{ sublevel['title'] }}
            </a>
            {% endif %}
         {% endfor %}
         </div>
      </li>
      {% endif %}
   {% endfor %}
   </ul>
</div>