{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% macro forceUnlockButton(check_unlock_right) %}
    {% set real_profile = session('glpilocksavedprofile')|default(null) %}
    {% if not check_unlock_right or (real_profile != null and real_profile[item.itemtype] b-and constant('UNLOCK')) %}
        <button type="button" class="btn btn-sm btn-primary ms-2 force-unlock-item">
            <i class="ti ti-lock-open"></i>
            <span>{{ __('Force unlock %1s #%2s')|format(item.itemtypename, item.itemid) }}</span>
        </button>
        <script>
            $('button.force-unlock-item').on('click', () => {
                glpi_confirm({
                    title: '{{ item.itemtypename }} #{{ item.itemid }}',
                    message: __('Force unlock this item?'),
                    confirm_callback: () => {
                        $.post({
                            url: '{{ config('root_doc') }}/ajax/unlockobject.php',
                            cache: false,
                            data: {
                                unlock: 1,
                                force: 1,
                                id: {{ lock_id }}
                            },
                            dataType: 'json'
                        }).then(() => {
                            glpi_confirm({
                                title: __('Item unlocked!'),
                                message: __('Reload page?'),
                                confirm_callback: () => {
                                    window.location.reload();
                                }
                            });
                        }, () => {
                            glpi_alert({
                                title: __('Item NOT unlocked!'),
                                message: __('Contact your GLPI admin!'),
                            });
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endmacro %}

{% if autolock %}

{% else %}
    {% if not new_lock %}
        <div id="message_after_lock" class="objectlockmessage d-inline-block w-100">
            {% if item.fields['users_id'] != session('glpiID') %}
                <strong class="nowrap">
                    {% set locked_by_msg %}
                        {% set locked_by_link %}
                            <a href="{{ 'User'|itemtype_form_path(item.fields['users_id']) }}">{{ user_data['name'] }}</a>
                        {% endset %}
                        {{ __('Locked by %1s')|format(locked_by_link)|raw }}
                    {% endset %}
                    {{ fields.htmlField('', locked_by_msg, '', {
                        no_label: true,
                        helper: user_data['comment'],
                        field_class: 'd-inline-block',
                        mb: '',
                    }) }}
                    <span class="mx-2">-></span>
                    <span>{{ item.fields['date']|formatted_datetime }}</span>
                </strong>
                {% if show_ask_unlock %}
                    <button type="button" class="btn btn-sm btn-primary ms-2 ask-unlock-item">
                        <i class="ti ti-lock-open"></i>
                        <span>{{ __('Ask for unlock') }}</span>
                    </button>
                    {{ fields.checkboxField('alertMe', 0, __('Alert me when unlocked')) }}
                    {{ _self.forceUnlockButton(true) }}
                {% endif %}
            {% else %}
                <strong class="nowrap">
                    {{ __('Locked by you!') }}
                    {{ _self.forceUnlockButton(false) }}
                </strong>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

<script>
    import({{ js_path('modules/ObjectLock.js') }}).then((m) => {
        new m.initObjectLock({
            id: {{ item.getID }},
            itemtype: {{ item.itemtype }},
            itemtype_name: '{{ item.itemtypename }}',
            items_id: {{ item.itemid }},
        }, {{ user_data }}, {{ new_lock }});
    });
</script>
