{#
 ---------------------------------------------------------------------
 GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2015-2020 Teclib' and contributors.

 http://glpi-project.org

 based on GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2003-2014 by the INDEPNET Development Team.

 ---------------------------------------------------------------------

 LICENSE

 This file is part of GLPI.

 GLPI is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 GLPI is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 ---------------------------------------------------------------------
#}

{# @TODO dark mode toggler #}
<body>
   {{ include('layout/parts/impersonate_banner.html.twig') }}

   <div class="page">

      <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
         <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{{ path('/front/central.php') }}" accesskey="1" title="{{ __('Home') }}"
               class="navbar-brand navbar-brand-autodark">
               <img src="{{ path('pics/logos/logo-GLPI-100-white.png') }}">
            </a>

            <div class="collapse navbar-collapse" id="navbar-menu">
               {{ include('layout/parts/menu.html.twig', {menu: menu, sector: sector, item: item, option: option, menu_active: menu_active}, with_context = false) }}
               {{ include('layout/parts/profile_selector.html.twig', {}, with_context = false) }}
            </div>
         </div>
      </aside>

      <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none sticky-top">
         <div class="container-fluid">
            {% if menu[sector] is defined %}
            {{ include('layout/parts/breadcrumbs.html.twig', {menu: menu, sector: sector, item: item, option: option}, with_context = false) }}
            {% endif %}

            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center justify-content-between border-left">
               {% if menu[sector]['content'][item] is defined %}
               <nav class="nav">
                  {{ include('layout/parts/context_links.html.twig', {menu: menu, sector: sector, item: item, option: option}, with_context = false) }}
               </nav>
               {% endif %}

               <div class="ml-md-auto pl-md-4 py-2 py-md-0 mr-md-4 order-first order-md-last flex-grow-1 flex-md-grow-0">
                  <form action="." method="get">
                     <div class="input-icon">
                        <span class="input-icon-addon">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Search…">
                        {# @TODO Global search #}
                     </div>
                  </form>
               </div>
            </div>

            <div class="navbar-nav flex-row order-md-last">
               <div class="nav-item dropdown">
                  <a href="#" class="nav-link d-flex lh-1 text-reset p-0 dropdown-toggle" data-toggle="dropdown">
                     {% if user['picture'] is not empty %}
                        <span class="avatar" style="background-image: url({{ path(user['picture']) }})"></span>
                     {% else %}
                        <i class="fas fa-2x fa-user"></i>
                     {% endif %}
                     <div class="d-none d-xl-block pl-2">
                        <div>{{ user['fullname']}}</div>
                        {% if user['title'] is not empty %}
                           <div class="mt-1 small text-muted">{{ user['title']}}</div>
                        {% endif %}
                     </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                     <a href="{{ help_url }}" class="dropdown-item" title="{{ __('Help') }}">
                        <i class="fas fa-fw fa-question"></i>
                        &nbsp;
                        {{ __('Help') }}
                     </a>
                     {% if has_right('Config', constant('UPDATE')) %}
                        <a href="{{ path('/ajax/switchdebug.php') }}"
                           class="dropdown-item {{ is_debug_active ? "bg-red-lt" : "" }}"
                           title="{{ __('Change mode') }}">
                           <i class="fas fa-fw fa-bug debug"></i>
                           &nbsp;
                           {{ is_debug_active ? __('Debug mode enabled') : __('Debug mode disabled') }}
                        </a>
                     {% endif %}

                     {# @TODO Saved searches pannel #}

                     <a href="{{ path('/front/preference.php?forcetab=User$1') }}" class="dropdown-item" title="{{ language_name }}">
                        <i class="fas fa-fw fa-language"></i>
                        &nbsp;
                        {{ language_name }}
                     </a>
                     <div class="dropdown-divider"></div>
                     <a href="{{ path('/front/preference.php') }}" class="dropdown-item" title="{{ __('My settings') }}">
                        <i class="fas fa-fw fa-user-cog"></i>
                        &nbsp;
                        {{ __('My settings') }}
                     </a>
                     <a href="{{ logout_path }}" class="dropdown-item" title="{{ __('Logout') }}">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        &nbsp;
                        {{ __('Logout') }}
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </header>

      <div class="content">
         <div class="container-fluid">
            <main role='main' id='page'>

