{#
 ---------------------------------------------------------------------
 GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2015-2020 Teclib' and contributors.

 http://glpi-project.org

 based on GLPI - Gestionnaire Libre de Parc Informatique
 Copyright (C) 2003-2014 by the INDEPNET Development Team.

 ---------------------------------------------------------------------

 LICENSE

 This file is part of GLPI.

 GLPI is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 GLPI is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 ---------------------------------------------------------------------
#}

<body>
   {{ include('layout/parts/impersonate_banner.html.twig') }}

   <div id="header">
      <header role="banner" id="header_top">
         <div id="c_logo">
            <a href="{{ path('/front/central.php') }}" accesskey="1" title="{{ __('Home') }}">
               <span class="sr-only">{{ __('Home') }}</span>
            </a>
         </div>

         <div id="c_preference">
            <ul>
               <li id="deconnexion">
                  <a href="{{ logout_path }}" title="{{ __('Logout') }}" class="fa fa-sign-out-alt">
                     <span class="sr-only">{{ __('Logout') }}</span>
                  </a>
               </li>
               <li id="preferences_link">
                  <a href="{{ path('/front/preference.php') }}" title="{{ __('My settings') }}" class="fa fa-cog">
                     <span class="sr-only">{{ __('My settings') }}</span>
                     {% if is_user_connected %}
                        <span id='myname'>{{ current_user_name|u.truncate(20, '...') }}</span>
                     {% endif %}
                  </a>
               </li>

            {% if has_right('Config', constant('UPDATE')) %}
               <li id="debug_mode">
                  <a href="{{ path('/ajax/switchdebug.php') }}"
                     class="fa fa-bug debug{% if is_debug_active %}on{% else %}off{% endif %}"
                     title="{{ __('%1$s - %2$s')|format(__('Change mode'), is_debug_active ? __('Debug mode enabled') : __('Debug mode disabled')) }}">
                     <span class="sr-only">{{ __('Change mode') }}</span>
                  </a>
               </li>
            {% endif %}

            {# @TODO Saved searches pannel #}

            <li id="help_link">
               <a href="{{ help_url }}" target="_blank" title="{{ __('Help') }}" class="fa fa-question">
                  <span class="sr-only">{{ __('Help') }}</span>
               </a>
            </li>

            <li id="language_link">
               <a href="{{ path('/front/preference.php?forcetab=User$1') }}" title="{{ language_name }}">
                  {{ language_name }}
               </a>
            </li>

            {# @TODO Global search #}

            </ul>
         </div>
      </header>

      {# main menu #}
      <nav id="c_menu">
         <ul id="menu" class="fullmenu">
         {% for firstlevel in menu %}
            {% if firstlevel['content'] is defined %}
            <li id="menu{{ loop.index }}" data-id="{{ loop.index }}"
                class="{{ menu[sector]['title'] == firstlevel['title'] ? 'active' : '' }}">
               <a class="itemP"
                  href="{{ firstlevel['default'] is empty ? '#' : path(firstlevel['default']) }}">
                  {{ firstlevel['title'] }}
               </a>
               <ul class="ssmenu">
               {% for sublevel in firstlevel['content'] %}
                  {% if sublevel['page'] is defined %}
                  <li class="TODO ACTIVE">
                     <a href="{{ path(sublevel['page']) }}"
                        accesskey="{{ sublevel['shortcut'] ?? "" }}">
                        <i class="fa-fw {{ sublevel['icon'] ?? "" }}"></i>
                        {# @TODO shortcut function for adding a <u> on title #}
                        {{ sublevel['title'] }}
                     </a>
                  </li>
                  {% endif %}
               {% endfor %}
               </ul>
            </li>
            {% endif %}
         {% endfor %}
         </ul>

         {# modal for mini menu #}
         <div id="show_all_menu" class="invisible">
         {% for firstlevel in menu %}
            <dl>
               <dt class="primary-bg primary-fg">";
                  <a class="primary-fg" title="{{ firstlevel['title'] }}" class="itemP"
                     href="{{ firstlevel['default'] is empty ? "#" : path(firstlevel['default']) }}">
                     {{ firstlevel['title'] }}
                  </a>
               </dt>
               {% for sublevel in firstlevel['content'] %}
                  {% if sublevel['page'] is defined %}
                  <dd>
                     <a href="{{ path(sublevel['page']) }}">
                        <i class="fa-fw {{ sublevel['icon'] ?? "" }}"></i>&nbsp;
                        {{ sublevel['title'] }}
                     </a>
                  </dd>
                  {% endif %}
               {% endfor %}
            </dl>
         {% endfor %}
         </div>

         <a href="#" onClick="$('show_all_menu').dialog('open'); return false;" id="menu_all_button">
            <i class='fas fa-bars'></i>
         </a>

         <script type="text/javascript">
         $(document).ready(
            function() {
               $('#show_all_menu').dialog({
                  height: 'auto',
                  width: 'auto',
                  modal: true,
                  autoOpen: false
               });
            }
         );
         </script>

         {# breadcrumbs #}
         <div id='c_ssmenu2' >
            <ul>
               {% if menu[sector] is defined %}
               <li class='breadcrumb_item'>
                  <a href='{{ path('/index.php') }}' title="{{ __('Home') }}">{{ __('Home') }}</a>
               </li>
               {% endif %}

               {% if menu[sector] is defined %}
               <li class="breadcrumb_item">
                  <a href="{{ path( (menu[sector]['default'] ?? "/front/central.php")) }}" title="{{ menu[sector]['title'] }}">
                     {{ menu[sector]['title'] }}
                  </a>
               </li>
               {% endif %}

               {% set with_option = false %}
               {% if menu[sector]['content'][item] is defined %}
                  {% if menu[sector]['content'][item]['page'] is defined %}
                  {% set with_option = ( option is not empty )
                     and (menu[sector]['content'][item]['options'][option]['title'] is defined)
                     and (menu[sector]['content'][item]['options'][option]['page'] is defined)  %}
                  <li class='breadcrumb_item'>
                     <a href="{{ path(menu[sector]['content'][item]['page']) }}"
                        class="{{ with_option ? "" : "here" }}"
                        title="{{ menu[sector]['content'][item]['title'] }}" >
                        <i class="{{ menu[sector]['content'][item]['icon'] ?? "" }}"></i>
                        &nbsp;
                        {{ menu[sector]['content'][item]['title'] }}
                     </a>
                  </li>
                  {% endif %}

                  {% if with_option %}
                  <li class="breadcrumb_item">
                     <a href="{{ path(menu[sector]['content'][item]['options'][option]['page']) }}"
                        class="here"
                        title="{{ menu[sector]['content'][item]['options'][option]['title'] }}" >
                        <i class="{{ menu[sector]['content'][item]['options'][option]['icon'] ?? "" }}"></i>
                        &nbsp;
                        {{ menu[sector]['content'][item]['options'][option]['title'] | u.truncate(17, '...') }}
                     </a>
                  </li>
                  {% endif %}

                  {% set links = menu[sector]['content'][item]['options'][option]['links']
                                 ?? menu[sector]['content'][item]['links'] %}
                  <li class="icons_block">
                     {% if links['add'] is defined %}
                     <span>
                     <a href="{{ path(links['add']) }}" class="pointer" title="{{ __('Add') }}">
                        <i class="fas fa-plus"></i>
                        <span class="sr-only">{{ __('Add') }}</span>
                     </a>
                     </span>
                     {% endif %}

                     {% if links['search'] is defined %}
                     <span>
                     <a href="{{ path(links['search']) }}" class="pointer" title="{{ __('Search') }}">
                        <i class="fas fa-search"></i>
                        <span class="sr-only">{{ __('Search') }}</span>
                     </a>
                     </span>
                     {% endif %}

                     {% for type,link in links %}
                        {% if type == 'add' or type == 'search' %}
                        {% elseif type == 'template' %}
                           <a href="{{ path(link) }}" title="{{ __("Manage templates...") }}">
                              <i class="pointer fa fa-layer-group"></i>
                           </a>
                        {% elseif type == 'showall' %}
                           <a href="{{ path(link) }}" title="{{ __("Show all") }}">
                              <img src="{{ path("/pics/menu_showall.png") }}">
                           </a>
                        {% elseif type == 'summary' %}
                           <a href="{{ path(link) }}" title="{{ __("Summary") }}">
                              <i class="pointer fa fa-stream"></i>
                           </a>
                        {% elseif type == 'summary_kanban' %}
                           <a href="{{ path(link) }}" title="{{ __("Global Kanban") }}">
                              <i class="pointer fa fa-columns"></i>
                           </a>
                        {% elseif type == 'config' %}
                           <a href="{{ path(link) }}" title="{{ __("Setup") }}">
                              <img src="{{ path("/pics/menu_config.png") }}">
                           </a>
                        {% else %}
                           <a href="{{ path(link) }}" class="pointer">
                              {{ key }}
                           </a>
                        {% endif %}

                     {% endfor %}
                  </li>

                  {# @TODO Profiles/entities selector #}

               {% endif %}
            </ul>
         </div>
      </nav>
   </div>


   <main role='main' id='page'>

