{% set rand = random() %}

<div class="dropdown dropstart">
   <button class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-check"></i>
      {{ (session('glpiactiveprofile')['name'] ?? '')|verbatim_value }}
   </button>
   <div class="dropdown-menu" data-bs-popper="none">
      <span class="dropdown-header">{{ __('Profiles') }}</span>
      {% for profile_id, profile in session('glpiprofiles') %}
      <a class="dropdown-item {{ profile_id == (session('glpiactiveprofile')['id'] ?? 0) ? 'active' : '' }}"
         href="{{ index_path() }}?newprofile={{ profile_id }}">
         <i class="fas fa-user-check"></i>{{ profile['name']|verbatim_value }}
      </a>
      {% endfor %}
   </div>
</div>

{% set target = path("front/central.php") %}
{% if get_current_interface() == "helpdesk" %}
   {% set target = path("front/helpdesk.public.php") %}
{% endif %}

<div class="dropdown dropstart">
   <a href="#" class="dropdown-item dropdown-toggle show_entity_modal" data-bs-toggle="dropdown" data-bs-auto-close="outside">
      <i class="fa-fw fas fa-layer-group"></i>
      {{ session('glpiactive_entity_name')|verbatim_value|u.truncate(35, '...') }}
   </a>
   <div class="dropdown-menu p-3">
      <h3>{{ __('Select the desired entity') }}</h3>

      <div class="alert alert-info" role="alert">
         <i class="fas fa-info-circle"></i>
         <span class="ms-2">
            <img src="{{ path('pics/entity_all.png') }}" alt="entity_all">
            {{ __('to see the entity and its sub-entities') }}
         </span>
      </div>

      <form id="entsearchform{{ rand }}">
         <div class="input-group">
            <input type="text" class="form-control" name="entsearchtext" id="entsearchtext{{ rand }}"
                   placeholder="{{ __('Search entity') }}" autocomplete="off">
            <button type="submit" class="btn btn-icon btn-primary" title="{{ __('Search') }}"
                    data-bs-toggle="tooltip" data-bs-placement="top">
               <i class="fas fa-search"></i>
            </button>
            <a class="btn btn-icon btn-outline-secondary" href="#" id="entsearchtext{{ rand }}_clear"
               title="{{ __("Clear search") }}" data-bs-toggle="tooltip" data-bs-placement="top">
                  <i class="fas fa-times"></i>
            </a>
            <a href="{{ target }}?active_entity=all" class="btn btn-secondary"
               title="{{ __('Select all') }}" data-bs-toggle="tooltip" data-bs-placement="top">
               <i class="fas fa-eye"></i>
            </a>
         </div>
      </form>

      <div id="tree_projectcategory{{ rand }}" class="entity_tree" ></div>
   </div>
</div>

<script type="text/javascript">
$(function() {
   $('#tree_projectcategory{{ rand }}').jstree({
      'plugins': ['search', 'qload', 'conditionalselect'],
      'search': {
         'case_insensitive': true,
         'show_only_matches': true,
         'ajax': {
            'type': 'POST',
            'url': '{{ path("/ajax/entitytreesearch.php") }}'
         }
      },
      'qload': {
         'prevLimit': 50,
         'nextLimit': 30,
         'moreText': '{{ __("Load more entities...") }}'
      },
      'conditionalselect': function (node, event) {
         if (node === false) {
            return false;
         }
         var url = '{{ target }}?active_entity='+node.id;
         if (event.target.tagName == 'I'
               && event.target.className == '') {
            url += '&is_recursive=1';
         }
         document.location.href = url;
         return false;
      },
      'core': {
         'animation': 0,
         'data': {
            'url': function(node) {
               return node.id === '#' ?
                  '{{ path("/ajax/entitytreesons.php") }}?node=-1' :
                  '{{ path("/ajax/entitytreesons.php") }}?node='+node.id;
            }
         }
      }
   });

   var searchTree = function() {
      $("#tree_projectcategory{{ rand }}")
         .jstree('close_all')
         .jstree('search', $("#entsearchtext{{ rand }}").val());
   }

   $('#entsearchform{{ rand }}').submit(function(event) {
      // cancel submit of entity search form
      event.preventDefault();

      searchTree();
   });

   $('#entsearchtext{{ rand }}').keyup(function () {
      var inputsearch = $(this);
      typewatch(function () {
         if (inputsearch.val().length >= 3) {
            searchTree();
         }
      }, 500);
   }).focus();

   $('#entsearchtext{{ rand }}_clear').click(function () {
      $('#entsearchtext{{ rand }}').val('');
      searchTree();
   });
});
</script>
