
<div class="dropdown dropleft">
   <button class="dropdown-item dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-check"></i>
      {{ active_profile_name }}
   </button>
   <div class="dropdown-menu" style="max-width: 20rem;">
      <span class="dropdown-header">{{ __("Profiles") }}</span>
      {% for profile_id, profile in profiles %}
      <a class="dropdown-item {{ profile_id == active_profile_id ? "active" : "" }}"
         href="{{ index() }}?newprofile={{ profile_id }}">
         <i class="fas fa-user-check"></i>{{ profile['name'] }}
      </a>
      {% endfor %}
   </div>
</div>

<a href="#" class="dropdown-item show_entity_modal">
   <i class="fa-fw fas fa-layer-group"></i>
   &nbsp;
   {{ active_entity_name|u.truncate(35, '...') }}
</a>

<script type="text/javascript">
$(document).ready(function() {
   $('.show_entity_modal').click(function() {

      var modal = '<div class="modal fade" id="entity_modal" role="dialog">';
      modal += '<div class="modal-dialog">';
      modal += '<div class="modal-content">';
      modal += '<div class="modal-header">';
      modal += '<h4 class="modal-title">{{ __("Select the desired entity") }}</h4>';
      modal += '<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>';
      modal += '</div>';
      modal += '<div class="modal-body"></div>';
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';

      // remove old modal
      $('#entity_modal').remove();

      // create new one
      $('body').append(modal);

      // AJAX request
      $.ajax({
         url: '{{ path("/ajax/entitytree.php") }}',
         type: 'post',
         success: function(response){
            $('#entity_modal .modal-body').html(response);
            $('#entity_modal').modal('show');
         }
      });
   });
});
</script>