{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set rand = random() %}

<div class="dropdown dropstart">
    <button class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ti ti-user-check"></i>
        {{ (session('glpiactiveprofile')['name'] ?? '') }}
    </button>
    <div class="dropdown-menu" data-bs-popper="none">
        <span class="dropdown-header">{{ __('Profiles') }}</span>
        {% for profile_id, profile in session('glpiprofiles') %}
            <a class="dropdown-item {{ profile_id == (session('glpiactiveprofile')['id'] ?? 0) ? 'active' : '' }}" href="{{ index_path() }}?newprofile={{ profile_id }}">
                <i class="ti ti-user-check"></i>
                {{ profile['name'] }}
            </a>
        {% endfor %}
    </div>
</div>

{% set target = path("front/central.php") %}
{% if get_current_interface() == "helpdesk" %}
    {% set target = path("front/helpdesk.public.php") %}
{% endif %}

{% set current_entity = session('glpiactive_entity_name') %}
{% set current_entity_short = session('glpiactive_entity_shortname') %}
{% if current_entity != current_entity_short %}
    {% set current_entity_short = '... > ' ~ current_entity_short %}
{% endif %}
{% if not is_multi_entities_mode() %}
    <span class="dropdown-item dropdown-item-text" title="{{ current_entity }}">
        <i class="fa-fw ti ti-stack"></i>
        {{ current_entity_short|u.truncate(35, '...') }}
    </span>
{% else %}
    <div class="dropdown dropstart" id="entity-tree-dropdown-{{ rand }}">
    </div>

    <script type="text/javascript">
    $(function() {
        window.Vue.createApp(window.Vue.components['EntitySelector/EntitySelector'].component, {
            current_entity: '{{ current_entity|e('js') }}',
            current_entity_short: '{{ current_entity_short|e('js') }}',
            rand: '{{ rand }}',
            target: '{{ target }}',
        }).mount('#entity-tree-dropdown-{{ rand }}');
    });
    </script>
{% endif %}
