<div class="navbar-nav flex-row order-md-last">
   <div class="nav-item dropdown">
      <a href="#" class="nav-link d-flex lh-1 text-reset p-0 dropdown-toggle" data-toggle="dropdown">
         <div class="d-none d-xl-block pr-2">
            <div>{{ active_profile_name|u.truncate(35, '...') }}</div>
            <div class="mt-1 small text-muted">{{ active_entity_name|u.truncate(35, '...') }}</div>
         </div>
         {% if user['picture'] is not empty %}
            <span class="avatar" style="background-image: url({{ path(user['picture']) }})"></span>
         {% else %}
            <i class="fas fa-2x fa-user"></i>
         {% endif %}
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
         {{ include('layout/parts/profile_selector.html.twig') }}

         <div class="dropdown-divider"></div>

         <a href="{{ help_url }}" class="dropdown-item" title="{{ __('Help') }}">
            <i class="fas fa-fw fa-question"></i>
            &nbsp;
            {{ __('Help') }}
         </a>
         {% if has_right('Config', constant('UPDATE')) %}
            <a href="{{ path('/ajax/switchdebug.php') }}"
               class="dropdown-item {{ is_debug_active ? "bg-red-lt" : "" }}"
               title="{{ __('Change mode') }}">
               <i class="fas fa-fw fa-bug debug"></i>
               &nbsp;
               {{ is_debug_active ? __('Debug mode enabled') : __('Debug mode disabled') }}
            </a>
         {% endif %}

         {# @TODO Saved searches panel #}

         <a href="{{ path('/front/preference.php?forcetab=User$1') }}" class="dropdown-item" title="{{ language_name }}"
            data-language-selector>
            <i class="fas fa-fw fa-language"></i>
            &nbsp;
            {{ language_name }}
         </a>

         {% set dark_mode = false %}
         {# @TODO init and save darkmode from/in DB #}
         <label class="dropdown-item">
            <input class="mr-1" type="checkbox" style="display: none"
                     onclick="document.querySelector('body').classList.toggle('theme-dark')">
            <span class="form-check-label">
               <i class="fas fa-fw {{ dark_mode ? "fa-sun" : "fa-moon" }} "></i>
               {{ dark_mode ? __("Light mode") : __("Dark mode") }}
         </label>

         <div class="dropdown-divider"></div>

         <a href="{{ path('/front/preference.php') }}" class="dropdown-item" title="{{ __('My settings') }}">
            <i class="fas fa-fw fa-user-cog"></i>
            &nbsp;
            {{ __('My settings') }}
         </a>
         <a href="{{ logout_path }}" class="dropdown-item" title="{{ __('Logout') }}">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            &nbsp;
            {{ __('Logout') }}
         </a>
      </div>
   </div>
</div>
