{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set rand = random() %}

{% set actors_dropdown = call('Glpi\\Form\\Dropdown\\FormActorsDropdown::show', [
    'default_value',
    values,
    {
        'form_id'         : form_id,
        'multiple'        : false,
        'init'            : init,
        'allowed_types'   : allowed_types,
        'right_for_users' : right_for_users,
        'group_conditions': group_conditions,
        'aria_label'      : __('Select an actor...'),
        'specific_tags'   : is_multiple_actors ? {
            'disabled': 'disabled'
        } : {}
    }
]) %}
{% set actors_dropdown_multiple = call('Glpi\\Form\\Dropdown\\FormActorsDropdown::show', [
    'default_value',
    values,
    {
        'form_id'         : form_id,
        'multiple'        : true,
        'init'            : init,
        'allowed_types'   : allowed_types,
        'right_for_users' : right_for_users,
        'group_conditions': group_conditions,
        'aria_label'      : __('Select an actor...'),
        'specific_tags'   : not is_multiple_actors ? {
            'disabled': 'disabled'
        } : {}
    }
]) %}

<div class="d-flex align-items-center">
    {{ fields.htmlField(
        'default_value',
        actors_dropdown,
        '',
        {
            'disabled'     : is_multiple_actors,
            'no_label'     : true,
            'mb'           : '',
            'wrapper_class': '',
            'field_class': [
                'actors-dropdown',
                'col-12',
                'col-sm-6',
                not is_multiple_actors ? '' : 'd-none'
            ]|join(' '),
        }
    ) }}
    {{ fields.htmlField(
        'default_value',
        actors_dropdown_multiple,
        '',
        {
            'no_label'     : true,
            'wrapper_class': '',
            'mb'           : '',
            'field_class'  : [
                'actors-dropdown',
                'col-12',
                'col-sm-6',
                is_multiple_actors ? '' : 'd-none'
            ]|join(' '),
        }
    ) }}

    <i
        id="actors_settings_dropdown_{{ rand }}"
        class="ms-2 ti ti-settings pointer"
        data-glpi-form-editor-question-extra-details
        data-bs-auto-close="outside"
        role="button"
        data-bs-toggle="dropdown"
        aria-label="{{ __('Show more settings') }}"
    ></i>
    <div
        class="dropdown-menu dropdown-menu-card"
        aria-labelledby="actors_settings_dropdown_{{ rand }}"
    >
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <div class="form-label">{{ __("Allowed types") }}</div>
                    {% for type in allowed_types %}
                        <label class="form-check form-check-inline mb-0">
                            <input
                                type="hidden"
                                name="{{ enabled_types_field }}[{{ type }}]"
                                value="0"
                                data-glpi-form-editor-specific-question-extra-data
                            >
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="{{ enabled_types_field }}[{{ type }}]"
                                value="1"
                                data-glpi-form-editor-specific-question-extra-data
                                {% if type in enabled_types %}
                                    checked
                                {% endif %}
                            >
                            <span class="form-check-label">
                                <i class="{{ call(type ~ "::getIcon", []) }}"></i>
                                {{ call(type ~ "::getTypeName", [2]) }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
                <div>
                    <div class="form-label">{{ __('Format') }}</div>
                    <div id="is_multiple_actors_{{ rand }}" class="d-flex gap-2">
                        <label class="form-check form-switch mb-0">
                            <input type="hidden" name="is_multiple_actors" value="0"
                            data-glpi-form-editor-specific-question-extra-data>
                            <input class="form-check-input" type="checkbox" name="is_multiple_actors"
                                value="1" {{ is_multiple_actors ? 'checked' : '' }}
                                onchange="handleMultipleActorsCheckbox_{{ rand }}(this)"
                                data-glpi-form-editor-specific-question-extra-data>
                            <span class="form-check-label">{{ __('Allow multiple actors') }}</span>
                        </label>
                    </div>

                    <script>
                        function handleMultipleActorsCheckbox_{{ rand }}(input) {
                            const is_checked = $(input).is(':checked');
                            const selects = $(input).closest('section[data-glpi-form-editor-question]')
                                .find('div .actors-dropdown');

                            {# Disable all selects and toggle their visibility, then enable the right ones #}
                            selects.toggleClass('d-none').find('select').prop('disabled', is_checked)
                                .filter('[multiple]').prop('disabled', !is_checked);

                            {# Handle hidden input for multiple actors #}
                            selects.find('input[type="hidden"]').prop('disabled', !is_checked);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
