{% import "components/form/fields_macros.html.twig" as fields %}
{% set field_options = {full_width: true} %}
{% set enctype = (item.isNewItem() ? 'enctype="multipart/form-data"' : "") %}

<form method="POST" action="{{ item.getFormURL() }}?id={{ item.fields['id'] }}"
      {{ enctype }} data-track-changes="true"
      id="itil-form">
   <input type="hidden" name="id" value="{{ item.fields['id'] }}">
   <div class="accordion open accordion-flush" id="itil-data">
      <div class="accordion-item">
         <h2 class="accordion-header" id="heading-main-ticket">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ticket-main" aria-expanded="true" aria-controls="ticket-main">
               <i class="fas fa-exclamation-circle me-1"></i>
               <span>{{ __("Ticket") }}</span>
            </button>
         </h2>
         <div id="ticket-main" class="accordion-collapse collapse show" aria-labelledby="heading-main-ticket">
            <div class="accordion-body">
               {{ fields.field(
                  'type',
                  item.dropdownType('type', {
                     'value': item.fields["type"],
                     'on_change': 'this.form.submit()',
                     'width': '100%',
                     'class': 'form-select',
                     'display': false
                  }),
                  __('%1$s%2$s')|format(_n('Type', 'Types', 1), template.getMandatoryMark('type')),
                  field_options
               ) }}

               {{ fields.dropdownField(
                  'ITILCategory',
                  'itilcategories_id',
                  item.fields["itilcategories_id"],
                  __('%1$s%2$s')|format(__('Category'), template.getMandatoryMark('itilcategories_id')),
                  field_options
               ) }}

               {# TODO badge in dropdown #}
               {{ fields.field(
                  'status',
                  item.dropdownStatus({
                     'value': item.fields["status"],
                     'showtype': 'allowed',
                     'width': '100%',
                     'class': 'form-select',
                     'display': false
                  }),
                  __('%1$s%2$s')|format(__("Status"), template.getMandatoryMark('status')),
                  field_options
               ) }}

               {{ fields.dropdownField(
                  'RequestType',
                  'requesttypes_id',
                  item.fields["requesttypes_id"],
                  __('%1$s%2$s')|format("RequestType"|itemtype_name, template.getMandatoryMark('requesttypes_id')),
                  field_options|merge({
                     'condition': {
                        'is_active': 1,
                        'is_ticketheader': 1
                     }
                  })
               ) }}

               {% include("components/itilobject/priority_matrix.html.twig") %}

               {{ fields.dropdownField(
                  'Location',
                  'locations_id',
                  item.fields["locations_id"],
                  __('%1$s%2$s')|format("Location"|itemtype_name, template.getMandatoryMark('locations_id')),
                  field_options
               ) }}

               {# TODO validation #}
               {{ fields.field(
                  'impact',
                  "...",
                  "Validation",
                  field_options
               ) }}
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="heading-actor">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#actors" aria-expanded="true" aria-controls="actors">
               <i class="fa fa-users me-1"></i>
               <span>{{ __("Actors") }}</span>
            </button>
         </h2>
         <div id="actors" class="accordion-collapse collapse show" aria-labelledby="heading-actor">
            <div class="accordion-body">
               {% include("components/itilobject/actors.html.twig") %}
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="service-levels-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#service-levels" aria-expanded="true" aria-controls="service-levels">
               <i class="fas fa-stopwatch me-1"></i>
               <span>{{ _n('Service level', 'Service levels', getPluralNumber()) }}</span>
            </button>
         </h2>
         <div id="service-levels" class="accordion-collapse collapse" aria-labelledby="service-levels-heading">
            <div class="accordion-body">
               {{ fields.datetimeField(
                  'time_to_own',
                  item.fields["time_to_own"],
                  __("TTO"),
                  field_options
               ) }}
               {{ fields.datetimeField(
                  'time_to_resolve',
                  item.fields["time_to_resolve"],
                  __("TTR"),
                  field_options
               ) }}

               {# TODO display fields only when OLA exists, hide them otherwise #}
               {# {{ fields.datetimeField(
                  'internal_time_to_own',
                  item.fields["internal_time_to_own"],
                  __("internal TTO"),
                  field_options
               ) }}
               {{ fields.datetimeField(
                  'internal_time_to_resolve',
                  item.fields["internal_time_to_resolve"],
                  __("internal TTR"),
                  field_options
               ) }} #}
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="linked_tickets-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#linked_tickets" aria-expanded="true" aria-controls="linked_tickets">
               <i class="fas fa-link me-1"></i>
               {% set linked_tickets = ticket_ticket.getLinkedTicketsTo(item.fields['id']) %}
               {% set nb_linked_tickets = linked_tickets|length %}
               <span>{{ "Ticket_Ticket"|itemtype_name(nb_linked_tickets) }}</span>
               {% if nb_linked_tickets > 0 %}
                  <span class="badge bg-secondary ms-2">{{ nb_linked_tickets }}</span>
               {% endif %}
            </button>
         </h2>
         <div id="linked_tickets" class="accordion-collapse collapse" aria-labelledby="linked_tickets-heading">
            <div class="accordion-body">
               {% include("components/itilobject/linked_tickets.html.twig") %}
            </div>
         </div>
      </div>
   </div>
</form>

<script type="text/javascript">
$(function() {
   if ($(window).width() < 768) { // medium breakpoint (Todo check if it's possible to get bootstrap breakpoints withint javascript)
      $('#itil-data .accordion-collapse').each(function() {
         $(this).removeClass('show');
      })
   }
});
</script>
