<div class="border-top mx-n2 mb-n2 itil-footer card-footer itil-footer" id="itil-footer">
   <div class="buttons-bar d-flex">
      <div class="btn-group me-2 main-actions">
         {% set default_action = timeline_itemtypes|keys|first %}
         {% set default_action_data = timeline_itemtypes|first %}
         <button class="btn btn-primary answer-action" data-bs-toggle="collapse" data-bs-target="#new-{{ default_action_data.class }}-block">
            <i class='{{ default_action_data.icon }}'></i>
            <span>{{ default_action_data.label }}</span>
         </button>
         <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">{{ __("View other actions") }}</span>
         </button>
         <ul class="dropdown-menu">
            {% for action, timeline_itemtype in timeline_itemtypes %}
               {% if loop.index0 > 0 %}
                  <li><a class="dropdown-item action-{{ action}} answer-action" href="#"
                      data-bs-toggle="collapse" data-bs-target="#new-{{ timeline_itemtype.class }}-block">
                     <i class='{{ timeline_itemtype.icon }}'></i>
                     <span>{{ timeline_itemtype.label }}</span>
                  </a></li>
               {% endif %}
            {% endfor %}
         </ul>
      </div>

      <span class="ms-auto">
         <button class="btn btn-outline-danger me-2" type="submit" name="purge"
                 title="{{ _x('button', 'Delete permanently') }}"
                 onclick='return confirm("{{ __('Confirm the final deletion?') }}");'>
            <i class='fas fa-trash-alt'></i>
            <span class="d-none d-md-block">{{ _x('button', 'Delete permanently') }}</span>
         </button>

         <button class="btn btn-primary me-2" type="submit" name="update"
                 title="{{ _x('button', 'Save') }}">
            <i class="fas fa-save"></i>
            <span class="d-none d-md-block">{{ _x('button', 'Save') }}</span>
         </button>
      </span>
   <div>
</div>

<script type="text/javascript">
$(function() {
   $(document).on("click", "#itil-footer .answer-action", function() {
      // scroll body to ensure we are at bottom (useful for responsive display)
      $('html, body').animate({
         scrollTop: $(document).height()
      }, 0, function(){
          // scroll timeline with animation
         var timeline = $("#itil-object .itil-left-side");
         timeline.animate(
            { scrollTop: timeline.prop('scrollHeight') }, 'slow',
         );
      });

      // hide answer button after clicking on it
      $(this).closest(".main-actions").hide();
   });

   // when close button of new answer block is clicked, show again the new answer button
   $(document).on("click", "#new-itilobject-form .close-itil-answer", function() {
      $("#itil-footer .main-actions").show();
   });
});
</script>
