<input type="hidden" name="_link[tickets_id_1]" value="{{ item.fields['id'] }}">

{% set linked_tickets = ticket_ticket.getLinkedTicketsTo(item.fields['id']) %}
{% if linked_tickets|length %}
<div class="card">
   <div class="list-group list-group-flush list-group-hoverable">
      {% for id, linked in linked_tickets %}
      {% set new_ticket = "Ticket"|getFromDB(linked['tickets_id']) %}
      <div class="list-group-item">
         <div class="row">
            <div class="col-auto">
               {% if linked['link'] == constant('Ticket_Ticket::LINK_TO') %}
                  <i class="fas fa-link" title="{{ __('Linked to') }}" data-bs-toggle="tooltip"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::DUPLICATE_WITH') %}
                  <i class="fas fa-clone" title="{{ __('Duplicates') }}" data-bs-toggle="tooltip"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::SON_OF') %}
                  <i class="fas fa-level-down-alt" title="{{ __('Son of') }}" data-bs-toggle="tooltip"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::PARENT_OF') %}
                  <i class="fas fa-level-up-alt" title="{{ __('Parent of') }}" data-bs-toggle="tooltip"></i>
               {% endif %}
            </div>
            <div class="col text-truncate">
               <a href="{{ form_path('Ticket', linked['tickets_id']) }}" class="col-9 overflow-hidden text-nowrap">
                  {{ new_ticket.getStatusIcon(new_ticket.fields['status'])|raw }}
                  <span title="{{ new_ticket.fields['name'] }}" data-bs-toggle="tooltip">
                     {{ new_ticket.fields['name'] }}
                  </span>
                  &nbsp;({{ new_ticket.fields['id'] }})
               </a>
            </div>

            {% if canupdate %}
               <div class="col-auto">
                  <a href="{{ form_path('Ticket_Ticket', id) }}&purge&tickets_id={{ item.fields['id'] }}"
                     class="btn btn-sm btn-ghost-danger" role="button" data-bs-toggle="tooltip" title="{{ _x('button', 'Delete permanently') }}">
                     <i class="fas fa-unlink"></i>
                  </a>
               </div>
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endif %}

{% if canupdate and not params['template_preview'] %}
   <div class="mt-2">
      <button class="btn btn-sm btn-ghost-secondary" type="button"
               data-bs-toggle="collapse" data-bs-target="#link_ticket_dropdowns"
               aria-expanded="false" aria-controls="link_ticket_dropdowns">
         <i class="fas fa-plus"></i>
         <span>{{ __("Add") }}</span>
      </button>

      <span class="collapse" id="link_ticket_dropdowns">
         {{ ticket_ticket.dropdownLinks(
            '_link[link]',
            params["_link"]['link'] ?? ""
         ) }}

         {{ item.dropdown({
            'name': '_link[tickets_id_2]',
            'used': [item.fields['id']],
            'displaywith': ['id'],
            'display': false,
            'class': 'form-select',
         })|raw }}
      </span>
   </div>
{% endif %}
