{% import "components/form/fields_macros.html.twig" as fields %}

<input type="hidden" name="_link[tickets_id_1]" value="{{ item.fields['id'] }}">

{% set linked_tickets = ticket_ticket.getLinkedTicketsTo(item.fields['id']) %}
{% if linked_tickets|length %}
<div class="card">
   <div class="list-group">
      {% for id, linked in linked_tickets %}
      {% set new_ticket = "Ticket"|getFromDB(linked['tickets_id']) %}
      <div class="list-group-item">
         <div class="row g-0">
            
            <div class="col-1">
               {% if linked['link'] == constant('Ticket_Ticket::LINK_TO') %}
                  <i class="fas fa-link"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::DUPLICATE_WITH') %}
                  <i class="fas fa-clone"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::SON_OF') %}
                  <i class="fas fa-level-down-alt"></i>
               {% elseif linked['link'] == constant('Ticket_Ticket::SON_OF') %}
                  <i class="fas fa-level-alt-alt"></i>
               {% endif %}
            </div>
            <div class="col-1">
               {{ new_ticket.getStatusIcon(new_ticket.fields['status'])|raw }}
            </div>
            <a href="{{ form_path('Ticket', linked['tickets_id']) }}" class="col-9 overflow-hidden text-nowrap">
               {{ new_ticket.fields['name'] }}
               &nbsp;({{ new_ticket.fields['id'] }})
            </a>

            <a href="{{ form_path('Ticket_Ticket', id) }}&purge&tickets_id={{ item.fields['id'] }}"
               class="col-1 btn btn-sm btn-ghost-danger" role="button" data-bs-toggle="tooltip" title="{{ _x('button', 'Delete permanently') }}">
               <i class="fas fa-unlink ms-2"></i>
            </a>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endif %}

<div class="mt-2">
   <button class="btn btn-sm btn-ghost-secondary"
            data-bs-toggle="collapse" data-bs-target="#link_ticket_dropdowns"
            aria-expanded="false" aria-controls="link_ticket_dropdowns">
      <i class="fas fa-plus"></i>
      <span>{{ __("Add") }}</span>
   </button>

   <span class="collapse" id="link_ticket_dropdowns">
      {{ ticket_ticket.dropdownLinks(
         '_link[link]',
         params["_link"]['link'] ?? ""
      ) }}

      {{ item.dropdown({
         'name'       : '_link[tickets_id_2]',
         'used'       : [item.fields['id']],
         'displaywith': ['id'],
         'display'    : false,
         'class'      : 'form-select',
      })|raw }}
   </span>
</div>
