{% import "components/form/fields_macros.html.twig" as fields %}

{% set target      = item.getFormURL() %}
{% set is_new_item = (item.fields['id'] == 0) %}
{% set show_form   = no_form is not defined or true %}

{% set field_options = {
   'is_horizontal': false,
   'full_width': true,
   'fields_template': itiltemplate,
   'disabled': (not (canupdate or can_requester)),
} %}

{% if show_form %}
<form method="post" action="{{ target }}" {{ formoptions }} enctype="multipart/form-data">
{% endif %}
   <div class="row flex-column">
      {{ fields.textField(
         "name",
         item.fields['name'],
         __('Title'),
         field_options
      ) }}

      {{ fields.textareaField(
         "content",
         item.fields['content'],
         __('Description'),
         field_options|merge({
            'enable_richtext': true,
            'enable_fileupload': true,
         })
      ) }}
   </div>

   {% if not is_new_item and show_form and not params['template_preview'] %}
      <button class="btn btn-primary me-2" type="submit" name="update">
         <i class='fas fa-save'></i>
         <span>{{ _x('button', 'Save') }}</span>
      </button>

      <input type="hidden" name="id" value="{{ item.fields['id'] }}"/>
      <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>
   </form>
   {% endif %}
