{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set unique_dom_id = 'service-catalog-tree-' ~ random() %}
{% set is_pinned = item.fields['is_pinned']|default(false) %}

<div class="col-12 col-sm-6 col-md-4 d-flex">
    <a
        class="card mx-1 my-2 flex-grow-1 {{ is_pinned ? "border-menu" : "" }}"
        {% if item is instanceof("Glpi\\Form\\ServiceCatalog\\ServiceCatalogLeafInterface") %}
            href="{{ item.getServiceCatalogLink() }}"
        {% elseif item is instanceof("Glpi\\Form\\ServiceCatalog\\ServiceCatalogCompositeInterface") %}
            href="?{{ item.getChildrenUrlParameters() }}"
            data-children-url-parameters="{{ item.getChildrenUrlParameters() }}"
            data-composite-item
        {% endif %}
    >
        <section
            class="card-body"
            aria-labelledby="{{ unique_dom_id }}"
        >
            <div class="d-flex">
                {{ render_illustration(
                    item.getServiceCatalogItemIllustration() ?? 'report-issue.svg',
                    100
                ) }}
                <div class="ms-4">
                    <div class="d-flex mb-2 align-items-center">
                        <h2
                            id="{{ unique_dom_id }}"
                            class="card-title mb-0"
                        >
                            {{ item.getServiceCatalogItemTitle() }}
                        </h2>
                        {% if is_pinned %}
                            <i class="ti ti-pin ms-auto"></i>
                        {% endif %}
                    </div>
                    <div
                        class="text-secondary remove-last-tinymce-margin"
                        data-testid="service-catalog-description"
                    >
                        {{ item.getServiceCatalogItemDescription()|safe_html }}
                    </div>
                </div>
            </div>
        </section>
    </a>
</div>
