<div class="d-inline-flex align-items-center search-controls">
   {% if showmassiveactions and count > 0 %}
   {{ showMassiveActions(massiveactionparams)|raw }}
   {% endif %}

   {% if count > 0 %}
   <label class="form-check form-switch btn btn-sm btn-ghost-info me-1 px-1 mb-0"
          data-bs-toggle="tooltip" data-bs-placement="top" title="{{ __('Show as map') }}">
      <input type="checkbox" class="form-check-input ms-0 me-1 mt-0" role="button"
             name="as_map" value="1" autocomplete="off"
             onclick="toogle('as_map','','',''); document.forms['searchform{{ itemtype }}'].submit();"
             {{ data['search']['as_map'] == 1 ? 'checked' : '' }}>
      <span class="form-check-label">
         <i class="fas fa-lg fa-globe-americas"></i>
      </span >
   </label>
   {% endif %}

   <label class="form-check form-switch btn btn-sm btn-ghost-danger me-1 px-1 mb-0"
          data-bs-toggle="tooltip" data-bs-placement="top" title="{{ __('Show the trashbin') }}">
      <input type="checkbox" class="form-check-input ms-0 me-1 mt-0" role="button"
             name="is_deleted" value="1" autocomplete="off"
             onclick="toogle('is_deleted','','',''); document.forms['searchform{{ itemtype }}'].submit();"
             {{ data['search']['is_deleted'] == 1 ? 'checked' : '' }}>
      <span class="form-check-label">
         <i class="fas fa-lg fa-trash-alt"></i>
      </span>
   </label>

   <div class="d-inline-flex" role="group">

      {% if can_config and count > 0 %}
      <button class="btn btn-sm btn-icon btn-ghost-secondary"
             title="{{ __('Select default items to show') }}" data-bs-toggle="tooltip" data-bs-placement="top">
         <i class="fas fa-lg fa-wrench show_displaypreference_modal"></i>
      </button>
      {% endif %}

      {% if count > 0 %}
         <button class="dropdown-toggle btn btn-sm btn-icon btn-ghost-secondary" type="button" id="dropdown-export"
               data-bs-toggle="dropdown" aria-expanded="false" >
            <span class="py-1 px-2 my-n1 mx-n2"data-bs-toggle="tooltip" data-bs-placement="top" title="{{ _x('button', 'Export') }}">
               <i class="fas fa-lg fa-file-download"></i>
            </span>
         </button>
      {% set exporthref = path('/front/report.dynamic.php') ~ '?item_type=' ~ itemtype ~ '&start=' ~ start ~ '&' ~ posthref %}
      <ul class="dropdown-menu" aria-labelledby="dropdown-export">
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=' ~ constant('Search::PDF_OUTPUT_LANDSCAPE') }}">
            <i class="fas fa-lg fa-file-pdf"></i>
            {{ __("Current page in landscape PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=' ~ constant('Search::PDF_OUTPUT_PORTRAIT') }}">
            <i class="fas fa-lg fa-file-pdf"></i>
            {{ __("Current page in portrait PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=' ~ constant('Search::SYLK_OUTPUT') }}">
            <i class="fas fa-lg fa-file-excel"></i>
            {{ __("Current page in SLK") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=' ~ constant('Search::CSV_OUTPUT') }}">
            <i class="fas fa-lg fa-file-csv"></i>
            {{ __("Current page in CSV") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=-' ~ constant('Search::PDF_OUTPUT_LANDSCAPE') }}">
            <i class="fas fa-lg fa-file-pdf"></i>
            {{ __("All pages in landscape PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=-' ~ constant('Search::PDF_OUTPUT_PORTRAIT') }}">
            <i class="fas fa-lg fa-file-pdf"></i>
            {{ __("All pages in portrait PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=-' ~ constant('Search::SYLK_OUTPUT') }}">
            <i class="fas fa-lg fa-file-excel"></i>
            {{ __("All pages in SLK") }}
         </a></li>
         <li><a class="dropdown-item" href="{{ exporthref ~ '&display_type=-' ~ constant('Search::CSV_OUTPUT') }}">
            <i class="fas fa-lg fa-file-csv"></i>
            {{ __("All pages in CSV") }}
         </a></li>
      </ul>
      {% endif %}
   </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
   $('.show_displaypreference_modal').click(function(e) {
      e.preventDefault();

      var modal = '<div class="modal fade" id="displayprefence_modal{{ rand }}" role="dialog">';
      modal += '<div class="modal-dialog modal-lg">';
      modal += '<div class="modal-content">';
      modal += '<div class="modal-header">';
      modal += '<h4 class="modal-title">{{ __("Select default items to show") }}</h4>';
      modal += '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __("Close modal") }}"></button>';
      modal += '</div>';
      modal += '<div class="modal-body">';
      modal += '<div class="ratio ratio-4x3">';
      modal += '<iframe src="{{ path("front/displaypreference.form.php?itemtype=" ~ itemtype) }}"></iframe>'
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';

      // remove old modal
      $('#displayprefence_modal{{ rand }}').remove();

      // create new one
      $('body').append(modal);
      $('#displayprefence_modal{{ rand }}').modal('show');
   });

   $("body").on('hide.bs.modal', '#displayprefence_modal{{ rand }}', function() {
      location.reload();
   })
});
</script>
