{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set rand = rand|default(random()) %}
<div class="firstbloc">
    <form id="{{ itemtype|lower ~ "_form" ~ rand }}" name="{{ itemtype|lower ~ "_form" ~ rand }}" method="post" action="{{ form_url }}">
        <table class="tab_cadre_fixe">
            <tr class="tab_bg_2">
                <th colspan="2">{{ form_title }}</th>
            </tr>
            <tr class="tab_bg_2">
                <td class="right">
                    <input type="hidden" name="{{ items_name }}" value="{{ items_id }}">
                    {{ fields.dropdownArrayField('num', readonlyfields|first, readonlyfields, '', {'used': used}) }}
                </td>
                <td class="center">
                    &nbsp;<input type="submit" name="add" value="{{ _x('button', 'Add') }}" class="btn btn-primary">
                </td>
            </tr>
        </table>
        {{ fields.hiddenField('_glpi_csrf_token', csrf_token()) }}
    </form>
</div>
