{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2026 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<label class="file-uploader-dropzone pe-none" for="{{ input_id }}"
       data-glpi-file-uploader-dropzone>
    <input type="file"
           id="{{ input_id }}"
           name="{{ input_name }}"
           {{ multiple ? 'multiple' : '' }}
           class="d-none"
           data-glpi-file-uploader-input>
    <div class="file-uploader-dropzone-content">
        <i class="ti ti-cloud-upload file-uploader-dropzone-icon"></i>
        <p class="file-uploader-dropzone-title">{{ __('Drop files here or click to browse') }}</p>
        <span class="form-help"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="{{ __('Allowed file types are configured by your administrator') }}">?</span>
        <span class="btn btn-outline-primary btn-sm mt-2">
            <i class="ti ti-folder-open me-1"></i>{{ __('Browse Files') }}
        </span>
    </div>
</label>

<div class="file-uploader-preview mt-3 d-none"
     data-glpi-file-uploader-preview>
    <div class="file-uploader-list" role="list"
         data-glpi-file-uploader-list></div>
</div>
