{% macro confirm(modal_title = "", modal_body = "", options = {}) %}
   {% set rand = random() %}
   {% set options = {
      'id': "modal" ~ rand,
      'rand': rand,
      'confirm_label': _x("button", "Ok"),
      'cancel_label': _x("button", "Cancel"),
      'confirm_event': "",
      'cancel_event': "",
   }|merge(options) %}

   <div class="modal fade" id="{{ options.id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">{{ modal_title }}</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               {{ modal_body|raw }}
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-outline-secondary" id="cancel_{{ rand }}"
                       data-bs-dismiss="modal">
                  {{ options.cancel_label|raw }}
               </button>
               <button type="button" class="btn btn-primary ms-auto" id="confirm_{{ rand }}"
                       data-bs-dismiss="modal">
                  {{ options.confirm_label|raw }}
               </button>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript">
   $(function () {
      $(document).on('click', '#confirm_{{ rand }}', function (event) {
         {{ options.confirm_event|raw }}
      });
      $(document).on('click', '#cancel_{{ rand }}', function (event) {
         {{ options.cancel_event|raw }}
      });
});
</script>
{% endmacro %}
