{% set model_itemtype = item.getType ~ "Model" %}
{% set model_fk = model_itemtype|get_foreignkey_field %}
{% if item.isField(model_fk) %}

   {% set picture_front = getmodelPicture(item, 'picture_front') %}
   {% set picture_rear = getmodelPicture(item, 'picture_rear') %}

   {% if picture_front|length > 1 or picture_rear|length > 1 %}
   <div class="col-12 col-xl-4 me-n2">
      <h3 class="card-title">
         {{ __("Pictures") }}
      </h3>

      <div class="card-body">
         <div class="d-flex">
            {% if picture_front|length > 1 %}
            <div class="m-1">
               <h4 class="text-muted">{{ __("Front picture") }}</h4>
               <img src="{{ getPictureUrl(picture_front) }}" class="" alt="{{ __("Front picture") }}">
            </div>
            {% endif %}

            {% if picture_rear|length > 1 %}
            <div class="m-1">
               <h4 class="text-muted">{{ __("Rear picture") }}</h4>
               <img src="{{ getPictureUrl(picture_rear) }}" class="" alt="{{ __("Rear picture") }}">
            </div>
            {% endif %}
         </div>
      </div>
   </div>
   {# TODO photoswipe #}

   {% endif %}
{% endif %}
