{#
 # ---------------------------------------------------------------------
 # GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2015-2021 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2003-2014 by the INDEPNET Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # GLPI is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% set params  = params ?? [] %}

{% block more_fields %}
   {{ fields.dropdownArrayField(
      'snmpversion',
      item.fields['snmpversion'],
      {0: '-----', 1: '1', 2: '2c', 3: '3'},
      __('SNMP version'),
   ) }}

   {{ fields.htmlField(
      '',
      '<h3 class="card-header">v 1 & v 2c</h3>',
   ) }}
   {{ fields.htmlField(
      '',
      '<h3 class="card-header">v 3</h3>',
   ) }}

   {{ fields.textField(
      'community',
      item.fields['community'],
      __('Community'),
   ) }}

   {{ fields.textField(
      'username',
      item.fields['username'],
      _n('User', 'Users', get_plural_number()),
   ) }}

   {{ fields.nullField() }}

   {{ fields.dropdownArrayField(
      'authentication',
      item.fields['authentication'],
      {0: '-----', 1: 'MD5', 2: 'SHA'},
      __('Encryption protocol for authentication '),
   ) }}

   {{ fields.nullField() }}

   {{ fields.passwordField(
      'auth_passphrase',
      item.fields['auth_passphrase'],
      __('Password'),
   ) }}

   {{ fields.nullField() }}

   {{ fields.dropdownArrayField(
      'encryption',
      item.fields['encryption'],
      {0: '-----', 1: 'DES', 2: 'AES128', 3: 'Triple-DES'},
      __('Encryption protocol for data'),
   ) }}

   {{ fields.nullField() }}

   {{ fields.passwordField(
      'priv_passphrase',
      item.fields['priv_passphrase'],
      __('Password'),
   ) }}
{% endblock %}
