{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/alerts_macros.html.twig' as alerts %}

{# no entries #}
{% if entries|length > 0 %}
    {% for entry in entries %}
        {% set row_massiveactions = entry['showmassiveactions']|default(showmassiveactions) %}
        <tr class="{{ row_class|default('') }} {{ entry['row_class']|default('') }}"{% if row_massiveactions %} data-itemtype="{{ entry['itemtype'] }}" data-id="{{ entry['id'] }}"{% endif %}>
            {% if row_massiveactions %}
                <td style="width: 10px">
                    {% if entry['skip_ma'] is not defined or entry['skip_ma'] == false %}
                        <input class="form-check-input massive_action_checkbox" type="checkbox" data-glpicore-ma-tags="common"
                               value="1" aria-label="{{ __("Select item") }}"
                               name="item[{{ entry['itemtype'] }}][{{ entry['id'] }}]" />
                    {% endif %}
                </td>
            {% endif %}
            {% for colkey, colum in columns %}
                {% if colkey in entry|keys %}
                    {% set colspan = entry[colkey ~ '_colspan']|default(1) %}
                    {% set aria_label = entry[colkey ~ '_aria_label']|default('') %}
                    <td colspan="{{ colspan }}" aria-label="{{ aria_label }}">

                        {% set formatter = formatters[colkey] ?? '' %}

                        {% if formatter == "maintext" %}
                            <span class="d-inline-block bg-blue-lt p-1 text-truncate"
                                  title="{{ entry[colkey] }}"
                                  data-bs-toggle="tooltip"
                                  style="max-width: 250px;">
                                                {{ entry[colkey] }}
                                            </span>
                        {% elseif formatter == "longtext" %}
                            <span class="d-inline-block text-truncate"
                                  title="{{ entry[colkey] }}"
                                  data-bs-toggle="tooltip"
                                  style="max-width: 250px;">
                                                {{ entry[colkey] }}
                                            </span>
                        {% elseif formatter starts with "progress" %}
                            {{ progress_bar(entry[colkey]) }}
                        {% elseif formatter == "date" %}
                            {{ entry[colkey]|formatted_date }}
                        {% elseif formatter == "datetime" %}
                            {{ entry[colkey]|formatted_datetime }}
                        {% elseif formatter == "duration" %}
                            {{ entry[colkey]|formatted_duration }}
                        {% elseif formatter == "bytesize" %}
                            {{ call("Toolbox::getSize", [entry[colkey]])|raw }}
                        {% elseif formatter == 'number' %}
                            {{ entry[colkey]|formatted_number }}
                        {% elseif formatter == 'integer' %}
                            {{ entry[colkey]|formatted_integer }}
                        {% elseif formatter == "raw_html" %}
                            {{ entry[colkey]|raw }}
                        {% elseif formatter == 'avatar' %}
                            {#  Note: Does not support anonymization currently #}
                            {% set entry_data = entry[colkey] %}
                            {% set avatar_size = entry_data['avatar_size'] ?? 'avatar-md' %}
                            {% set img = entry_data['picture'] %}
                            {% set initials = entry_data['initials'] %}
                            {% set bg_color = img is not empty ? 'inherit' : entry_data['initials_bg'] %}
                            <span class="avatar {{ avatar_size }} rounded"
                                  style="{% if img is not null %} background-image: url({{ img }}); {% endif %} background-color: {{ bg_color }}">
                                                {% if img is empty %}
                                                    {{ initials }}
                                                {% endif %}
                                            </span>
                        {% elseif formatter == "badge" %}
                            {% set entry_data = entry[colkey] %}
                            {% set content = entry_data['content'] %}
                            {% set color = entry_data['color'] ?? '#BBBBBB' %}
                            {% if not (color matches '/^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/') %}
                                {% set color = '#BBBBBB' %}
                            {% endif %}
                            {% if content is not empty %}
                                <div class="badge_block" style="border-color: {{ color }}">
                                    <span class="me-1" style="background: {{ color }}"></span>
                                    {{ content }}
                                </div>
                            {% endif %}
                        {% elseif formatter == 'yesno' %}
                            {% if entry[colkey] == 1 %}
                                <div aria-label="{{ __('Yes') }}"><i class="ti ti-circle-check"></i></div>
                            {% else %}
                                <div aria-label="{{ __('No') }}"></div>
                            {% endif %}
                        {% elseif formatter == 'html_modal' %}
                            {# expect content generated as generated by \CommonITILValidation::getModalFormHtmlElements() + anchor_title #}
                            {% set modal_elements = entry[colkey] %}
                            {{ modal_elements.js|raw }}
                            <a href="#"
                               role="button"
                               title="{{ modal_elements.anchor_title }}"
                               data-bs-toggle='modal'
                               data-bs-target="#{{ modal_elements.target }}"
                                    {{ modal_elements.onclick|raw }}
                            >
                                <span class="ti ti-edit" style="cursor:pointer"></span>
                            </a>
                        {% else %}
                            {{ entry[colkey] }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
            {% if not (nofilter ?? false) %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="{{ total_cols }}">
            {{ alerts.alert_info(__('No results found')) }}
        </td>
    </tr>
{% endif %}