{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% extends "elements/input.twig" %}

{% block element %}<button
      type="{{ element.htmltype|default(element.type|default('submit')) }}"
      name="{{ element.name }}"
      id="{{ element.id|default(element.name) }}"
      {%if element.required is defined and element.required == true %} required="required"{% endif %}
      {%if element.readonly is defined and element.readonly == true %} readonly="readonly"{% endif %}
      {%if element.disabled is defined and element.disabled == true %} disabled="disabled"{% endif %}
      {%if element.autofocus is defined and element.autofocus == true %} autofocus="autofocus"{% endif %}
      {%if element.title is defined %}
         title="{{ element.title }}"
         data-toggle="tooltip"
      {% endif %}
      class="{%if element.class is defined %}{{ element.class }}{% else %}form-control{% endif %}"
      {%if element.autocomplete is defined %} autocomplete="{{ element.autocomplete }}"{% endif %}
      {%if element.size is defined %} size="{{ element.size }}"{% endif %}
      {%if element.data is defined %}
         {% for id, data in element.data %}
               data-{{ id }}="{{ data }}"
         {% endfor %}
      {% endif %}
      {% block extra_tags %}{% endblock %}
      >
         {% if element.value is defined %}{{ element.value }}{% endif %}
      </button>
{% endblock %}

{%block label %}{% endblock %}
