{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% set glpi_form = {
   'boxed': true,
   'form_class': ''
}|merge(glpi_form) %}
<form class="{% if glpi_form.boxed %}container form-horizontal box{% endif %} {{ glpi_form.form_class|default('') }}" action='{{ glpi_form.action|default('') }}' method='post'>
{% block form_header %}
   {% if glpi_form.header is not defined or glpi_form.header == true %}
   <header class="box-header with-border">
      {% if glpi_form.header_title is defined %}
         {{ glpi_form.header_title }}
      {% else %}
         {% if withtemplate is defined and withtemplate == 2 and item.isNewID() %}
            {% include "elements/hidden.twig" with {'element': {'name': 'template_name', 'value': item.fields['template_name']}} %}
            {{ __('Created from the template %s')|format(item.fields['template_name']) }}
         {% elseif withtemplate is defined and withtemplate == 1 %}
            {% include "elements/hidden.twig" with {'element': {'name': 'is_template', 'value': 1}} %}
            {% include "elements/input.twig" with {'element': {'type': 'text', 'name': 'template_name', 'label': __('Template name'), 'required': true}, 'notag': true} %}
               {#Html::autocompletionTextField(
                  $this,
                  'template_name',
                  [
                     'size'      => 25,
                     'required'  => true,
                     'rand'      => $rand
                  ]
               );#}
         {% endif %}
      {% endif %}
   </header>
   {% endif %}

   <fieldset class="row">
   {% for element in glpi_form.elements %}
      {% set tpl = element.type|default('input') %}
      {#% set tpl = 'input' %}
      {% if element.type == 'password' %}
         {% set tpl = 'password' %}
      {% endif %#}
      {% include "elements/" ~ tpl ~".twig" with {'element':  element, 'glpi_form': glpi_form} %}
   {% endfor %}
   </fieldset>

   {% if glpi_form.extra_header is defined  %}{{ glpi_form.extra_header|raw  }}{% endif %}
   {% if glpi_form.extra_footer is defined  %}{{ glpi_form.extra_footer|raw  }}{% endif %}
   {% if glpi_form.footer is not defined or glpi_form.footer == true %}
   {% endif %}
{% endblock %}
   {% include "elements/hidden.twig" with {'element': {'name': '_glpi_csrf_token', 'value': call_static('Session', 'getNewCSRFToken')}} %}
{% if glpi_form.submit is not defined or glpi_form.submit != false %}
   <div class="{% if glpi_form.boxed %}box-footer{% endif %}">
      {% include "elements/submit.twig" with {
         'form_class': 'center',
         'notag': true,
         'element': {
            'name': 'submit',
            'value': glpi_form.submit_label|default(__('Post')),
            'width': glpi_form.columns|default(null)
         }
      } %}
   </div>
{% endif %}
</form>
