{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
<form class="pure-form{% if glpi_form.pure_form is defined %} pure-form-{{ glpi_form.pure_form}}{% endif %}{{ ' ' ~ glpi_form.form_class|default('') }}" action='{{ glpi_form.action|default('') }}' method='post'>
{% block form_header %}
   {% if glpi_form.header is not defined or glpi_form.header == true %}
   {% endif %}

   <fieldset>
   {% for element in glpi_form.elements %}
      {% set tpl = 'input' %}
      {% if element.type == 'password' %}
         {% set tpl = 'password' %}
      {#% elseif element.type == 'checkbox' %#}
      {% endif %}
      {% include "elements/" ~ tpl ~".twig" with {'element':  element} %}
   {% endfor %}
   </fieldset>

   {% if glpi_form.extra_header is defined  %}{{ glpi_form.extra_header|raw  }}{% endif %}
   {% if glpi_form.extra_footer is defined  %}{{ glpi_form.extra_footer|raw  }}{% endif %}
   {% if glpi_form.footer is not defined or glpi_form.footer == true %}
   {% endif %}
{% endblock %}
   {% include "elements/hidden.twig" with {'element': {'name': '_csrf'}} %}
{% block form_submit %}

{% endblock %}
</form>
