{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% block component %}
   {% if notag is not defined or not notag %}
   <div class="pure-control-group{% if glpi_form.columns is not empty %} pure-u-{{ element.width|default(1) }}-{{ glpi_form.columns }}{% endif %}{% if form_class is defined %} {{ form_class }}{% endif %}">
   {% endif %}
   {% block label %}
      {% if element.label is defined %}
         {% set label = element.label %}
      <label for="{{ element.id|default(element.name) }}"{%if label.title is defined %} title="{{ label.title }}"{% endif %}{% if label.tip is defined or label.class is defined%} class="{% if element.tip is defined %}tooltip{% endif %} {% if label.class is defined %}{{ label.class }}{% endif %}"{% endif %}>
         {% if label is iterable %}
            {{ label.label }}
         {% else %}
            {{ label }}
         {% endif %}
         {%- if element.required is defined and element.required -%}
            <span class="required" title="{{ __s('This element is required') }}">*</span>
         {%- endif -%}
         {# FIXME: find a way to identify auto-fillable fields #}
         {#{ item.getAutofillMark(element.name, withtemplate)|raw }#}
      </label>
      {% endif %}
   {% endblock %}
   {%if element.tip is defined %}<span class="tip">{{ element.tip }}</span>{% endif %}
   {% block element %}<input
        type="{{ element.type|default('text') }}"
        name="{{ element.name }}"
        id="{{ element.id|default(element.name) }}"
        value="{% if element.value is defined %}{{ element.value }}{% endif %}"
        {%if element.required is defined and element.required == true %} required="required"{% endif %}
        {%if element.readonly is defined and element.readonly == true %} readonly="readonly"{% endif %}
        {%if element.disabled is defined and element.disabled == true %} disabled="disabled"{% endif %}
        {%if element.autofocus is defined and element.autofocus == true %} autofocus="autofocus"{% endif %}
        {%if element.title is defined %} title="{{ element.title }}"{% endif %}
        {%if element.maxlength is defined %} maxlength="{{ element.maxlength }}"{% endif %}
        {%if element.class is defined %} class="{{ element.class }}"{% endif %}
        {%if element.autocomplete is defined %} autocomplete="{{ element.autocomplete }}"{% endif %}
        {%if element.size is defined %} size="{{ element.size }}"{% endif %}
        {%if element.checked is defined and element.checked == true %} checked="checked"{% endif %}
        {%if element.placeholder is defined %} placeholder="{{ element.placeholder }}"{% endif %}
        {%if element.data is defined %}
            {% for id, data in element.data %}
                data-{{ id }}="{{ data }}"
            {% endfor %}
        {% endif %}
        />
   {% endblock %}
   {% block icon %}
      {% if element.icon is defined %}
      <span class="fa fa-{{ element.icon}} input-img"></span>
      {% endif %}
   {% endblock %}
   {% if element.message is defined %}
      <span class="pure-form-message-inline">{{ element.message }}</span>
   {% endif %}
   {% if notag is not defined or not notag %}
   </div>
   {% endif %}
{% endblock %}
