{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% extends "elements/input.twig" %}

{% block element %}
    <select
        name="{{ element.name }}"
        id="{{ element.id|default(element.name) }}"
        class="forSelect2{%if element.class is defined %} {{ element.class }}{% endif %}"
        {% if element.required is defined and element.required == true %} required="required"{% endif %}
        {% if element.disabled is defined and element.disabled == true %} disabled="disabled"{% endif %}
        data-itemtype="{{ element.itemtype }}"
      >
   {% for value, label in element.values %}
         <option value="{{ value }}">{{ label }}</option>
   {% endfor %}
    </select>
{% if element.listicon is not defined or element.listicon == true %}
   <a href="{{ path_for('asset', {'itemtype': element.itemtype}) }}" class="tooltip"
      data-tooltip="{{ __s("Show %1$s")|format(element.itemtype_name) }}">
      <span class='fa fa-info pointer'></span>
   </a>
{% endif %}
{% if element.addicon is not defined or element.addicon == true %}
   <span class="fa fa-plus-circle pointer" title="{{ __s('Add') }}"
{#onClick=\"".Html::jsGetElementbyID('add_dropdown'.$params['name'].$params['rand']).".dialog('open');\"#}
      ><span class="sr-only">{{ __s('Add') }}</span>
   </span>
{#
      $output .= Ajax::createIframeModalWindow('add_dropdown'.$params['name'].$params['rand'],
                                                        $item->getFormURL(),
                                                        ['display' => false]);
      #}
{% endif %}
{% endblock %}
