{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set fk = item.getForeignKeyField() %}

<div class="col-auto">
    <div class="list-group-item-actions d-flex flex-column">
        {% if document['item']['_can_edit'] %}
            <a href="{{ 'Document'|itemtype_form_path(document['item']['id']) }}"
               class="btn btn-sm btn-ghost-secondary" title="{{ _x('button', 'Edit') }}"
               data-bs-toggle="tooltip" data-bs-placement="top">
                <i class="ti ti-edit"></i>
            </a>
        {% endif %}

        {% if document['item']['_can_delete'] %}
            <form class="d-inline" method="post" action="{{ item.getFormURL() }}">
                <input type="hidden" name="{{ fk }}" value="{{ item.fields['id'] }}">
                <input type="hidden" name="documents_id" value="{{ document['item']['id'] }}">
                <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-sm btn-ghost-secondary" name="delete_document"
                        title="{{ _x('button', 'Delete permanently') }}"
                        data-bs-toggle="tooltip" data-bs-placement="top">
                    <i class="ti ti-trash"></i>
                </button>
            </form>
        {% endif %}

        {% if document['item']['_can_edit'] %}
            {% set blacklisted_class    = document['item']['is_blacklisted'] ? 'red' : '' %}
            {% set blacklisted_title    = document['item']['is_blacklisted'] ? _x('button', 'Remove from import exclusion list') : _x('button', 'Add to import exclusion list') %}
            {% set blacklisted_value    = document['item']['is_blacklisted'] ? 0 : 1 %}
            <form class="d-inline" method="post" action="{{ 'Document'|itemtype_form_path }}">
                <input type="hidden" name="id" value="{{ document['item']['id'] }}">
                <input type="hidden" name="is_blacklisted" value="{{ blacklisted_value }}">
                <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-sm btn-ghost-secondary" name="update"
                        title="{{ blacklisted_title }}"
                        data-bs-toggle="tooltip" data-bs-placement="top">
                    <i class="ti ti-ban {{ blacklisted_class }}"></i>
                </button>
            </form>
        {% endif %}
    </div>
</div>
