{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<form method="POST" action="{{ item.getFormURL() }}">
    <div class="col-7 ms-3 mt-2">
        <div
            class="card mb-3"
            data-glpi-form-renderer-form-header
        >
            <div class="card-status-top bg-primary"></div>

            <div class="card-body">
                <h1 class="form-title"> {{ item.fields.name }} </h1>
                <p class="text-secondary">
                    {{ __s('Submitted by %s on %s')|format(
                        get_item_link('User', item.fields.users_id),
                        item.fields.date_creation
                    )|raw }}
            </div>
        </div>

        {% for section in sections %}
            <section class="card mb-3">
                <div class="card-body">
                    {% if section.label is not empty %}
                        <h2 class="mb-3">{{ section.label }}</h2>
                    {% endif %}
                    {% set section_answers = answers|filter(answer => answer.getSectionId() == section.id) %}
                    {% for answer in section_answers %}
                        {% set type = answer.getType() %}
                        {% if answer.getRawAnswer() is not empty and type is not null %}
                            <h3 class="mb-2">{{ answer.getQuestionLabel() }}</h3>
                            <div class="{% if not loop.last %}mb-3{% endif %}">
                                {{ type.renderAnswerTemplate(answer.getQuestion(), answer.getRawAnswer())|raw }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>

    {# Show actions #}
    {{ include("components/form/buttons.html.twig") }}
</form>
