{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set base_field_options = {
    'is_horizontal': false,
    'full_width'   : true,
    'no_label'     : true,
} %}

<form
    id="form-form"
    class="
        form-editor-container
        d-flex
        flex-column
        {# Negative margins to cancel parent padding, this is needed as we use a
        different background color than the parent item #}
        mt-n2
        mb-n2
    "
    method="POST"
    action="{{ item.getFormURL() }}"
    data-ajax-submit {# Form will be submitted using AJAX #}
    data-ajax-submit-itemtype="Glpi\Form\Form" {# Target itemtype #}
    data-ajax-submit-callback="glpi_form_ajax_update_callback" {# Specific post update callback #}
>
    {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::PRE_ITEM_FORM'), {'item': item, 'options': params}) }}


    {# Form editor page #}
    {# UX and items placement are a work in progress #}
    {# Need more elements (questions, sections) before finalizing the design #}
    <div class="form-editor row">

        <div class="designer col-12 px-4 py-3">
            <div class="row">

                {# We expect to use the right side to display some extra info later so keep some available space for now #}
                <div class="col-7">

                    {# Card containing the main form data: title, header and status #}
                    <div class="card form-details mb-3">
                        <div class="card-status-top bg-primary"></div>
                        <div class="card-body">

                            {# Header #}
                            <div class="d-flex mt-2">
                                {# Form's name #}
                                <input
                                    type="text"
                                    class="form-control content-editable-h2"
                                    name="name"
                                    value="{{ item.fields.name }}"
                                >

                                {# Form's status #}
                                <label class="form-check form-switch ms-3" style="margin-top: 2px">
                                    <input type="hidden" value="0" name="is_active">
                                    <input
                                        class="form-check-input"
                                        name="is_active"
                                        type="checkbox"
                                        value="1"
                                        {% if item.fields.is_active %} checked {% endif %}
                                    >
                                    <span class="form-check-label">{{ __("Active") }}</span>
                                </label>
                            </div>

                            {# Form's hader #}
                            <div class="content-editable-tinymce" tabindex="5">
                                {{ fields.textareaField(
                                    'header',
                                    item.fields.header,
                                    __('Header'),
                                    base_field_options|merge({
                                        'enable_richtext': true,
                                        'add_body_classes': ['content-editable-tinymce-editor', 'text-muted'],
                                        'editor_height': "0",
                                        'rows' : 1,
                                        'toolbar_location': 'bottom',
                                    })
                                ) }}
                            </div>
                        </div>
                    </div>

                    {# Display all questions here #}
                    <div class="questions">
                        {% set question_index = 0 %}
                        {% for section in item.getSections() %}
                            {% for question in section.getQuestions() %}
                                {# Render admin template for the given question type #}
                                {{ include('pages/admin/form/form_question.html.twig', {
                                    'question_type': question_types[question.fields.type],
                                    'question'     : question,
                                    'input_prefix' : '_questions[' ~ question_index ~ ']',
                                }, with_context = false) }}
                                {% set question_index = question_index + 1 %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                    {# Add question action #}
                    {# TODO: UI/UX #}
                    {% if item.canUpdate() %}
                        <div id="form_add_question" class="card cursor-pointer align-items-center">
                            <div class="card-body">
                                <h3 class="d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i> {{ __("Add question") }}</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="
        editor-footer
        justify-content-end
        d-flex
        py-2
        px-3
        {# Negative margins to cancel parent padding, this is needed as we want
        our footer to use the full width of its parent #}
        ms-n2
        me-n2
    ">
        {# Preview form action #}
        {# Mostly useful to test forms ATM. Final UI/UX are not really thought out #}
        {# TODO: UI/UX #}
        <button
            class="btn btn-ghost-secondary me-auto"
            type="button"
            name="preview"
            form="form-form"
            title="{{ __("Preview") }}"
            data-bs-toggle="modal"
            data-bs-target="#preview_form_modal"
        >
            <i class="ti ti-eye me-1"></i>
            <span class="d-none d-xl-block">{{ __("Preview") }}</span>
        </button>

        {# Move to trashbin form action #}
        {% if item.canDelete() %}
            {# Hidden if the item is still in draft mode #}
            <button
                class="
                    btn
                    btn-ghost-warning
                    me-2
                    {{ item.fields.is_deleted ? "d-none" : "" }}
                    {{ item.fields.is_draft ? "d-none" : "" }}
                "
                type="submit"
                name="delete"
                form="form-form"
                title="{{ __("Put in trashbin") }}"
            >
                <i class="ti ti-trash me-1"></i>
            </button>
        {% endif %}

        {# Purge action #}
        {% if item.canPurge() %}
            <button
                class="btn btn-ghost-danger me-2 {{ not item.fields.is_deleted ? "d-none" : "" }}"
                type="submit"
                name="purge"
                form="form-form"
                title="{{ __("Delete permanently") }}"
            >
                <i class="ti ti-trash me-1"></i>
            </button>
        {% endif %}

        {# Restore action #}
        {% if item.canDelete() %}
            <button
                class="
                    btn
                    btn-ghost-secondary
                    me-2
                    {{ not item.fields.is_deleted ? "d-none" : "" }}
                "
                type="submit"
                name="restore"
                form="form-form"
                title="{{ __("Restore") }}"
            >
                <i class="ti ti-trash-off me-1"></i>
            </button>
        {% endif %}

        {% if item.fields.is_draft %}
            {# Add action (which is an update form as we just change the is_draft field's value) #}
            <button
                class="btn btn-primary"
                type="submit"
                name="update"
                form="form-form"
                title="{{ __("Add") }}"
            >
                <i class="ti ti-plus me-1"></i>
                <span class="d-block add-label">{{ __("Add") }}</span>
            </button>
        {% elseif item.canUpdate() %}
            {# Update action #}
            <button
                class="btn btn-primary"
                type="submit"
                name="update"
                form="form-form"
                title="{{ __("Save") }}"
            >
                <i class="ti ti-device-floppy me-1"></i>
                <span class="d-block save-label">{{ __("Save") }}</span>
            </button>
        {% endif %}
        </button>
    </div>

    {# Form id #}
    <input type="hidden" name="id" value="{{ item.fields.id }}">

    {# Special input to indicate that missing question must be deleted #}
    <input type="hidden" name="_delete_missing_questions" value="1">

    {# Set as non draft once saved #}
    {% if item.fields.is_draft %}
        <input type="hidden" name="is_draft" value="0">
    {% endif %}

    {# TODO: add bootstrap tooltips on each buttons #}

    {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::POST_ITEM_FORM'), {'item': item, 'options': params}) }}
</form>

{# Load all possible questions types as hidden DOM content that is ready to be copied for a new question #}
<div id="question_type_model_container" class="d-none">
    {% for key, question_type in question_types %}
        <div id="question_type_model_{{ key|slug }}">
            {# Render admin template for the given question type #}
            {{ include('pages/admin/form/form_question.html.twig', {
                'question_type': question_type,
                'question': null,
            }, with_context = false) }}
        </div>
    {% endfor %}
</div>

{# Preview form modal #}
<div
    id="preview_form_modal"
    class="modal modal-blur fade"
    aria-modal="true"
    role="dialog"
    aria-labelledby="preview_form_modal_label"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script>
    // TODO: script is getting bigger and might need its own file soon

    /**
     * Callback used when the form is updated
     * Need to be a "var" to be accessible from the global scope
     */
    var glpi_form_ajax_update_callback = function (response) {
        // Specific code enabled only if the item is a draft
        let is_draft = {{ item.fields.is_draft }};

        // Handle the ui changes to reflect the fact that the item is no longer a draft
        if (is_draft) {
            // Turn the "Add" button into "Save"
            const add_button = $('#form-form button[name=update]');
            add_button.find('.ti-plus').removeClass('ti-plus').addClass('ti-device-floppy');
            add_button.find('.add-label').text("{{ __('Save') }}");
            add_button.prop("title", "{{ __('Save') }}");

            // Show the delete button
            const del_button = $('#form-form button[name=delete]');
            del_button.removeClass('d-none');

            // Mark as no longer a draft to avoid running this code again
            is_draft = false;
        }

        // Handle newly added questions ids, they must be inserted into their
        // form so they can be updated correctly instead of re-added on the next
        // submit
        if (response.added_questions !== undefined) {
            // Data contains two keys: input_index and id
            response.added_questions.forEach(function(data) {
                // Update ID input
                $("input[name='_questions[" + data.input_index + "][id]']").val(data.id);
            });
        }
    };

    // Global event manager for tinymce
    var formEditor_OnTinyMCEChange = function(event) {
        // Special handler for description field
        const description_container = $(event.target.container).closest("[data-question-description]");
        if (description_container.length) {
            // Strip tags
            const div = document.createElement("div");
            div.innerHTML = event.level.content;
            const raw_text = div.textContent || div.innerText || "";

            // Mark as secondary data if empty
            if (raw_text.length == 0) {
                description_container.attr("data-question-extra-details", "");
            } else {
                description_container.removeAttr("data-question-extra-details");
            }
        }
    };

    // Isolate variables in a self calling function
    (function(){
        // Adjust height using javascript
        // This is the only reliable way to make our content use the remaining
        // height of the page as the tabs container doesn't define a height
        const adjust_container_height = function() {
            const window_height = document.body.offsetHeight ;
            const editor_height = $('.form-editor-container').offset().top;
            const tab_content_border = 1; // Border added at the bottom of the page, must be taken into account
            $('.form-editor-container').css('height', (window_height - editor_height - tab_content_border) + "px");
        };
        adjust_container_height();

        // Trigger on resize
        const adjust_container_height_throttled = _.throttle(adjust_container_height, 100);
        $(window).on('resize', function() {
           adjust_container_height_throttled();
        });

        /**
         * Mark the given question as active
         */
        const setActiveQuestion = function(question_container) {
            $("[data-question-container]").removeClass("active-question");

            if (question_container !== null) {
                question_container.addClass("active-question");
            }
        };

        // Handle preview
        $('#form-form button[name=preview]').on('click', function(e) {
            // Read form's id
            const form = $(e.target).closest('form');
            const id = form.find('input[name=id]').val();

            // Unsaved changes wont be taken into account as the ajax endpoint will load data from DB using the given id
            // TODO: trigger a save before preview ?

            // Render form
            $("#preview_form_modal .modal-content").load(
                CFG_GLPI.root_doc + "/ajax/form/render_form.php?id=" + id,
            );
        });

        // Handle preview successful submit
        $(document).on('forms-form-submit-success', function(e, data) {
            // Close modal
            $("#preview_form_modal").modal('hide');

            // Show toast with link to answers set
            glpi_toast_info(
                __("Item successfully created: %s").replace("%s", data.link_to_created_item)
            );
        });


        // Handle new questions
        let question_index = {{ question_index }};
        $("#form_add_question").on("click", function(e) {
            // Copy template
            const copy = $("#question_type_model_{{ default_question_type|slug }}")
                .children() // Skip model container
                .clone();

            // Keep track of how many textarea we process
            let textarea_index = 0;
            const tiny_mce_to_init = [];

            // Input must have unique name so we will use the
            // "_questions[index][input_name] key format
            copy.find("input, textarea").each(function() {
                const input_name = $(this).attr("name");
                $(this).attr("name", `_questions[${question_index}][${input_name}]`);

                // Special actions for tinymce
                if ($(this).prop("tagName") == "TEXTAREA") {
                    // Get editor config
                    const config = window["tiny_editor_config_" + $(this).attr("id")];

                    // Rename id so it can be unique
                    $(this).attr("id", `_questions_${question_index}_${input_name}_${textarea_index}`);
                    textarea_index++;

                    // Push config into init queue
                    config.selector = "#" + $(this).attr("id"); // Ref to updated id
                    tiny_mce_to_init.push(config);
                }
            });

            // Insert the new question
            setActiveQuestion(copy);
            copy.appendTo(".questions");
            question_index++;

            // Init editor (must be done after copy)
            tiny_mce_to_init.forEach((config) => tinyMCE.init(config));
        });

        // Handle question deletion
        $(document).on("click", "[data-delete-question]", function(e) {
            // Get question container
            const question_container = $(e.target).closest("[data-question-container]");

            // Remove question
            question_container.remove();
        });

        // Add mandatory class to mandatory questions
        $(document).on("change", "input[data-question-mandatory-toggle]", function(e) {
            // Get question container
            const question_container = $(e.target).closest("[data-question-container]");

            if ($(this).prop("checked")) {
                question_container.addClass("mandatory-question");
            } else {
                question_container.removeClass("mandatory-question");
            }
        });

        // Set custom width for question titles as we need the red asterisk to be put right after it
        $("[data-question-title]").each(function() {
            $(this).css("width", getRealInputWidth($(this), "1.2rem"));
        });
        $(document).on("input", "[data-question-title]", function() {
            $(this).css("width", getRealInputWidth($(this), "1.2rem"));
        });

        // Handle active question
        $(document).on("click", "[data-question-container]", function() {
            setActiveQuestion($(this));
        });
        $(document).on("click", ".form-details", function() {
            setActiveQuestion(null);
        });
    })();
</script>
