{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{# @var form                 Glpi\Form #}
{# @var section              Glpi\Form\Section|null #}
{# @var section_input_index  string|null #}
{# @var question_types       array #}
{# @var can_update           bool #}
{# @var show_section_form    bool #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{# Compute inputs names base prefix #}
{% set input_prefix = section_input_index is not null ? '_sections[' ~ section_input_index ~ ']' : null %}

{# Common params for any fields #}
{% set base_field_options = {
    'is_horizontal': false,
    'full_width'   : true,
    'no_label'     : true,
} %}

<div
    data-glpi-form-editor-section
    {% if section_input_index is not null %}
        data-glpi-form-editor-section-index="{{ section_input_index }}"
    {% endif %}
>
    <div
        class="card card-stacked mb-3 {{ show_section_form ? "": "d-none"}}"
        data-glpi-form-editor-section-form-container
        data-glpi-form-editor-on-click="set-active"
    >
        <div class="card-body">
            {# Header #}
            {# <div class="card-status-top bg-primary"></div> #}
            <div class="d-flex">
                {# Section's name #}
                <input
                    type="text"
                    class="form-control content-editable-h2"
                    name="{{ input_prefix is not null ? input_prefix ~ '[name]' : 'name' }}"
                    value="{{ section is not null ? section.fields.name : '' }}"
                    placeholder="{{ __("New section") }}"
                >

                {# Extra actions #}
                <div class="dropdown ms-auto cursor-pointer">
                    <i
                        class="ti ti-dots-vertical show"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    ></i>
                    <ul class="dropdown-menu" data-bs-popper="none">
                        <li>
                            <a
                                href="#"
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="[data-glpi-form-editor-move-section-modal]"
                                data-glpi-form-editor-on-click="build-move-section-modal-content"
                            >
                                <i class="ti ti-arrows-move-vertical me-2"></i>
                                <span>{{ __("Move section") }}</span>
                            </a>
                        </li>

                        <li>
                            <a
                                href="#"
                                class="dropdown-item"
                                data-glpi-form-editor-on-click="delete-section"
                            >
                                <i class="ti ti-trash me-2"></i>
                                <span>{{ __("Delete section") }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {# Section's description #}
            <div class="content-editable-tinymce">
                {{ fields.textareaField(
                    input_prefix is not null ? input_prefix ~ '[description]' : 'description',
                    section is not null ? section.fields.description : '',
                    __('Header'),
                    base_field_options|merge({
                        'enable_richtext': true,
                        'placeholder': __('Add a description to this section...'),
                        'add_body_classes': ['content-editable-tinymce-editor', 'text-muted'],
                        'editor_height': "0",
                        'rows' : 1,
                        'toolbar_location': 'bottom',
                        'init': section is not null ? true : false,
                    })
                ) }}
            </div>

            <input
                type="hidden"
                name="{{ input_prefix is not null ? input_prefix ~ '[id]' : 'id' }}"
                value="{{ section is not null ? section.fields.id : 0 }}"
            />
            <input
                type="hidden"
                name="{{ input_prefix is not null ? input_prefix ~ '[forms_forms_id]' : 'forms_forms_id' }}"
                value="{{ form.fields.id }}"
            />
        </div>
    </div>

    <div data-glpi-form-editor-section-questions>
        {% set question_index = 0 %}
        {% for question in section.getQuestions() %}
            {# Render admin template for the given question type #}
            {{ include('pages/admin/form/form_question.html.twig', {
                'question_types'     : question_types,
                'question_type'      : question.getQuestionType(),
                'question'           : question,
                'question_index'     : question_index,
                'section'            : section,
                'section_index'      : section_input_index,
            }, with_context = false) }}
            {% set question_index = question_index + 1 %}
        {% endfor %}
    </div>

    {# Add question action at the end of each sections #}
    {# TODO: UI/UX #}
    {% if can_update %}
        <div
            class="card cursor-pointer align-items-center mb-4"
            data-glpi-form-editor-on-click="add-question"
        >
            <div class="card-body">
                <h3 class="d-flex align-items-center">
                    <i class="ti ti-circle-plus me-2"></i>
                    {{ __("Add question") }}
                </h3>
            </div>
        </div>
    {% endif %}
</div>

