{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{# Is this a single or multi sections forms ? #}
{% set is_single_section_form = form.getSections()|length == 1 %}

<form id="forms_form_answers" method="POST" action="{{ path("ajax/form/answer.php") }}">
    <div class="modal-header">
        <div class="mt-3">
            <h5 class="modal-title mb-3" id="display_form_modal_label">
                {{ form.fields.name }}
            </h5>

            <div class="text-muted">
                {{ form.fields.header|safe_html }}
            </div>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __("Close") }}"></button>
    </div>

    <div class="modal-body">



        {% for section in form.getSections() %}
            {# Is this the first section of a form ? #}
            {% set is_first_section = loop.index0 == 0 %}

            {# Show only the first section of a multi section forms #}
            <div
                data-glpi-form-renderer-section="{{ loop.index0 }}"
                class="{{ not is_single_section_form and not is_first_section ? "d-none": "" }}"
            >
                <h2 class="mb-3">{{ section.fields.name }}</h2>

                {% for question in section.getQuestions() %}
                    {# Compute question type  #}
                    {% set question_type = question.getQuestionType() %}

                    {# Skip unknown types (may be a disabled plugin) #}
                    {% if question_type is not null %}
                        <div class="mb-3">
                            <label class="form-label">
                                {{ question.fields.name }}
                                {% if question.fields.is_mandatory %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                            </label>
                            {{ question_type.renderEndUserTemplate(question)|raw }}
                            <div class="form-text">{{ question.fields.description|safe_html }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <input type="hidden" name="forms_id" value="{{ form.fields.id }}">
    </div>

    <div class="modal-footer">
        <button
            type="button"
            data-glpi-form-renderer-action="previous-section"
            class="btn btn-primary d-none"
        >
            {{ __("Back") }}
        </button>

        <button
            type="button"
            data-glpi-form-renderer-action="next-section"
            class="btn btn-primary {{ is_single_section_form ? "d-none": "" }}"
        >
            {{ __("Continue") }}
        </button>

        <button
            type="button"
            data-glpi-form-renderer-action="submit"
            class="btn btn-primary {{ not is_single_section_form ? "d-none": "" }}"
        >
            {{ __("Send form") }}
        </button>
    </div>
</form>

<script>
    new GlpiFormRendererController($('#forms_form_answers'));
</script>

