{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2022 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<h2>{{ __("The installation is finished") }}</h2>

<p>
   {{ __("Default logins / passwords are:") }}
</p>

<p>
   <ul>
      <li>{{ __("glpi/glpi for the administrator account") }}</li>
      <li>{{ __("tech/tech for the technician account") }}</li>
      <li>{{ __("normal/normal for the normal account") }}</li>
      <li>{{ __("post-only/postonly for the postonly account") }}</li>
   </ul>
</p>

<p>
   {{ __("You can delete or modify these accounts as well as the initial data.") }}
</p>

<p class="center">
   <a class="btn btn-primary" href="../index.php">
      <i class="fas fa-thumbs-up me-1"></i>
      {{ __("Use GLPI") }}
   </a>
</p>
