<h2>{{ __("The installation is finished") }}</h2>

<p>
   {{ __("Default logins / passwords are:") }}
</p>

<p>
   <ul>
      <li>{{ __("glpi/glpi for the administrator account") }}</li>
      <li>{{ __("tech/tech for the technician account") }}</li>
      <li>{{ __("normal/normal for the normal account") }}</li>
      <li>{{ __("post-only/postonly for the postonly account") }}</li>
   </ul>
</p>

<p>
   {{ __("You can delete or modify these accounts as well as the initial data.") }}
</p>

<p class="center">
   <a class="btn btn-primary" href="../index.php">
      <i class="fas fa-thumbs-up me-1"></i>
      {{ __("Use GLPI") }}
   </a>
</p>
