{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div class="alert alert-warning"><strong>{{ message }}</strong></div>

<form action="install.php" method="post" class="d-inline" data-submit-once>
    <button type="submit" name="submit" class="btn btn-warning">
        <i class="fas fa-chevron-left me-1 fa-2x alert-icon"></i>
        {{ __("Back") }}
    </button>

    <input type="hidden" name="update" value="yes" />
    <input type="hidden" name="install" value="Etape_2" />
    <input type="hidden" name="db_host" value="{{ db_host }}" />
    <input type="hidden" name="db_user" value="{{ db_user }}" />
    <input type="hidden" name="db_pass" value="{{ db_pass }}" />
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
</form>
