{% set users_id = (item.fields['users_id_recipient'] > 0 ? item.fields['users_id_recipient'] : 0) %}
{% set entry_rand = random() %}

<div class="timeline-item mb-4 ITILContent"
     data-itemtype="{{ item.getType() }}" data-items-id="{{ item.fields['id'] }}">
   <div class="row">
      <div class="col-auto d-flex flex-column ">
         {% include "components/itilobject/user_picture.html.twig" with {'users_id': users_id} only %}
      </div>
      <div class="col-12 col-sm">
         <div class="d-flex">
            <div class="d-none d-md-block">
               <i class="far fa-user"></i>
               <strong>{{ User__getLink(users_id) }}</strong>
            </div>
            <div class="text-muted ms-2 d-flex">
               {% set date_creation = item.fields['date_creation'] ?? item.fields['date'] %}
               {% set date_mod = item.fields['date_mod'] %}
               <span title="{{ convDateTime(date_creation) }}" data-bs-toggle="tooltip"
                     data-bs-placement="bottom">
                  {{ __('Created: %1$s')|format('<i class="far fa-clock me-1"></i>' ~ time2str(date_creation))|raw }}
               </span>

               {% if date_creation != date_mod %}
                  {% set editor = User__getLink(item.fields['users_id_lastupdater']) %}
                  <span class="text-muted text-end ms-3 d-none d-md-block"
                        title="{{ convDateTime(date_mod) }}" data-bs-toggle="tooltip"
                        data-bs-placement="bottom">
                     {{ __('Last modification: %1$s by %2$s')|format('<i class="far fa-clock me-1"></i>' ~ time2str(date_mod), '<i class="far fa-user me-1"></i>' ~ editor)|raw }}
                  </span>
               {% endif %}
            </div>

            {# TODO canedit #}
            <div class="dropdown ms-auto">
               <button class="btn btn-sm btn-ghost-secondary timeline-more-actions" type="button" id="more-actions-{{ entry_rand }}" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa fa-ellipsis-h"></i>
               </button>
               <ul class="dropdown-menu" aria-labelledby="more-actions-{{ entry_rand }}">
                  <li><a class="dropdown-item edit-timeline-item" href="#">
                     <i class="fas fa-fw fa-edit"></i>
                     <span>{{ __("Edit") }}</span>
                  </a></li>
               </ul>
            </div>
         </div>
         <span class="row mt-2 timeline-content left card">
            <div class="card-body">
               <div class="read-only-content">
                  {% if not itiltemplate.isHiddenField('name') %}
                     <div class="card-title card-header mx-n3 mt-n3">
                        {{ item.fields['name'] }}
                     </div>
                  {% endif %}
                  {% if not itiltemplate.isHiddenField('content') %}
                     {{ getHtmlToDisplay(item.fields['content']) }}
                  {% endif %}
               </div>
               <div class="edit-content collapse">
                  <button class="btn btn-sm btn-ghost-secondary float-end close-edit-content">
                     <i class="fas fa-2x fa-times"></i>
                  </button>
                  <div class="ajax-content">

                  </div>
               </div>
            </div>
         </span>
      </div>
   </div>
</div>
