{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'pages/2fa/macros.html.twig' as tfa %}
{% import 'components/alerts_macros.html.twig' as alerts %}

<form method="post" action="#" data-submit-once>
    {% set status_message %}
        {% if enforcement == constant('Glpi\\Security\\TOTPManager::ENFORCEMENT_MANDATORY_GRACE_PERIOD') %}
            {{ __('2FA grace period ends %s')|format(grace_period_end|relative_datetime) }}
        {% elseif enforcement == constant('Glpi\\Security\\TOTPManager::ENFORCEMENT_MANDATORY') %}
            {{ __('Mandatory') }}
        {% else %}
            {{ __('Optional') }}
        {% endif %}
    {% endset %}
    {{ alerts.alert_info(__('2FA enabled'), [status_message]) }}
   {{ tfa.tfa_backup_codes_container() }}
   <div>
      <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
      {% if enforcement != constant('Glpi\\Security\\TOTPManager::ENFORCEMENT_MANDATORY') %}
         <button type="submit" class="btn btn-danger" name="disable_2fa">
            {{ __('Disable 2FA') }}
         </button>
      {% else %}
         <button type="submit" class="btn btn-danger" name="reset_2fa">
            {{ __('Reset 2FA') }}
         </button>
      {% endif %}
      <button type="button" class="btn btn-outline-secondary" name="regenerate_backup_codes">
         {{ __('Regenerate backup codes') }}
      </button>
      <script>
         $(function() {

            {% if regenerate_backup_codes %}
             $('button[name="regenerate_backup_codes"]').trigger('click');
            {% endif %}
         });
      </script>
   </div>
</form>
