{% set bg = "" %}
{% if item.isDeleted() %}
   {% set bg = "asset-deleted" %}
{% endif %}

<div class="asset {{ bg }}">
   {% include("components/form/header.html.twig") %}

   {% set rand = random() %}
   {% set params  = params ?? [] %}
   {% set target       = params['target'] ?? item.getFormURL() %}
   {% set withtemplate = params['withtemplate'] ?? "" %}

   {# TODO form-select normal size for select2 #}

   <div class="card-body">
      <div class="d-flex flex-row flex-wrap flex-md-nowrap">
         <div class="row flex-row">
            <div class="row flex-row">
               {% if item.isField('name') %}
                  {% set tplmark = getAutofillMark(item, 'name', params) %}
                  {% set value   = autoName(item.fields['name'], 'name', (withtemplate == 2), item.getType(), item.fields['entities_id']) %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="name_{{ rand }}">
                        {{ __('%1$s %2$s')|format(__('Name'), tplmark)|raw }}
                     </label>
                     <input type="text" class="form-control" id="name_{{ rand }}"
                           name="name" value="{{ value }}">
                  </div>
               {% endif %}

               {% if item.isField('states_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_states_id{{ rand }}">
                        {{ __("Status") }}
                     </label>
                     {{ "State"|dropdown({
                        'value'    : item.fields['states_id'],
                        'entity'   : item.fields['entities_id'],
                        'condition': {'is_visible_computer': 1},
                        'rand'     : rand,
                        'width'    : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% set dc_breadcrumbs = getDcBreadcrumb(item) %}
               {% if dc_breadcrumbs|length > 0 %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label">
                        {{ __('Data center position') }}
                     </label>
                     <span>
                        {{ dc_breadcrumbs|join('&nbsp;&gt;&nbsp;')|raw}}
                     </span>
                  </div>
                  <div class="col-12 col-sm-6"></div> {# set an empty space in front of dc breadcrumb #}
               {% endif %}

               {% if item.isField('locations_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_locations_id{{ rand }}">
                        {{ "Location"|itemtype_name }}
                     </label>
                     {{ "Location"|dropdown({
                        'value' : item.fields['locations_id'],
                        'entity': item.fields['entities_id'],
                        'rand'  : rand,
                        'width' : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% set type_itemtype = item.getType ~ "Type" %}
               {% set type_fk = type_itemtype|get_foreignkey_field %}
               {% if item.isField(type_fk) %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="{{ "dropdown_" ~ type_fk ~ rand }}">
                        {{ _n('Type', 'Types', 1) }}
                     </label>
                     {{ type_itemtype|dropdown({
                        'value': item.fields[type_fk],
                        'rand' : rand,
                        'width': '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('users_id_tech') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_users_id_tech{{ rand }}">
                        {{ __('Technician in charge of the hardware') }}
                     </label>
                     {{ "User"|dropdown({
                        'name'  : 'users_id_tech',
                        'value' : item.fields['users_id_tech'],
                        'right' : 'own_ticket',
                        'entity': item.fields['entities_id'],
                        'rand'  : rand,
                        'width' : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('manufacturers_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_manufacturers_id{{ rand }}">
                        {{ "Manufacturer"|itemtype_name }}
                     </label>
                     {{ "Manufacturer"|dropdown({
                        'value': item.fields['manufacturers_id'],
                        'rand' : rand,
                        'width': '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('groups_id_tech') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_groups_id_tech{{ rand }}">
                        {{ __('Group in charge of the hardware') }}
                     </label>
                     {{ "Group"|dropdown({
                        'name'     : 'groups_id_tech',
                        'value'    : item.fields['groups_id_tech'],
                        'entity'   : item.fields['entities_id'],
                        'condition': {'is_assign': 1},
                        'rand'     : rand,
                        'width'    : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% set model_itemtype = item.getType ~ "Model" %}
               {% set model_fk = model_itemtype|get_foreignkey_field %}
               {% if item.isField(model_fk) %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="{{ "dropdown_" ~ model_fk ~ rand }}">
                        {{ _n('Model', 'Models', 1) }}
                     </label>
                     {{ model_itemtype|dropdown({
                        'value': item.fields[model_fk],
                        'rand' : rand,
                        'width': '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('contact_num') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="contact_num_{{ rand }}">
                        {{ __("Alternate username number") }}
                     </label>
                     <input type="text" class="form-control" id="contact_num_{{ rand }}"
                            name="contact_num" value="{{ item.fields['contact_num'] }}">
                  </div>
               {% endif %}

               {% if item.isField('serial') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="serial_{{ rand }}">
                        {{ __("Serial number") }}
                     </label>
                     <input type="text" class="form-control" id="serial_{{ rand }}"
                            name="serial" value="{{ item.fields['serial'] }}">
                  </div>
               {% endif %}

               {% if item.isField('contact') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="contact_{{ rand }}">
                        {{ __("Alternate username") }}
                     </label>
                     <input type="text" class="form-control" id="contact_{{ rand }}"
                            name="contact" value="{{ item.fields['contact'] }}">
                  </div>
               {% endif %}

               {% if item.isField('otherserial') %}
                  {% set tplmark = getAutofillMark(item, 'otherserial', params) %}
                  {% set value   = autoName(item.fields['otherserial'], 'otherserial', (withtemplate == 2), item.getType(), item.fields['entities_id']) %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="otherserial_{{ rand }}">
                        {{ __('%1$s%2$s')|format(__('Inventory number'), tplmark)|raw }}
                     </label>
                     <input type="text" class="form-control" id="otherserial_{{ rand }}"
                            name="otherserial" value="{{ value }}">
                  </div>
               {% endif %}

               {% if item.isField('users_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_users_id{{ rand }}">
                        {{ "User"|itemtype_name }}
                     </label>
                     {{ "User"|dropdown({
                        'value' : item.fields['users_id'],
                        'right' : 'all',
                        'entity': item.fields['entities_id'],
                        'rand'  : rand,
                        'width' : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('is_global') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_is_global{{ rand }}">
                        {{ __('Management type') }}
                     </label>
                     {{Dropdown__showGlobalSwitch(item.fields['id'], {
                        'withtemplate'       : withtemplate,
                        'value'              : item.fields['is_global'],
                        'management_restrict': config('monitors_management_restrict'),
                        'target'             : target
                     })}}
                  </div>
               {% endif %}

               {% if item.isField('contact') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="size_{{ rand }}">
                        {{ __("Size") }}
                     </label>
                     <input type="number" class="form-control" id="size_{{ rand }}"
                            name="size" value="{{ item.fields['size'] }}">
                  </div>
               {% endif %}

               {% if item.isField('networks_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_networks_id{{ rand }}">
                        {{ _n('Network', 'Networks', 1) }}
                     </label>
                     {{ "Network"|dropdown({
                        'value': item.fields['networks_id'],
                        'rand' : rand,
                        'width': '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('groups_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_groups_id{{ rand }}">
                        {{ "Group"|itemtype_name }}
                     </label>
                     {{ "Group"|dropdown({
                        'value'    : item.fields['groups_id'],
                        'entity'   : item.fields['entities_id'],
                        'condition': {'is_itemgroup': 1},
                        'rand'     : rand,
                        'width'    : '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if item.isField('comment') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="comment_{{ rand }}">
                        {{ __("Comments") }}
                     </label>
                     <textarea class="form-control" id="comment_{{ rand }}" name="comment" rows="3">
                        {{ item.fields['comment'] }}
                     </textarea>
                  </div>
               {% endif %}

               {% if item.isField('ram') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="ram_{{ rand }}">
                        {{ __('%1$s (%2$s)')|format(_n('Memory', 'Memories', 1), __('Mio')) }}
                     </label>
                     <input type="number" class="form-control" id="ram_{{ rand }}"
                            name="ram" value="{{ item.fields['ram'] }}">
                  </div>
               {% endif %}

               {% if item.isField('uuid') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="uuid_{{ rand }}">
                        {{ __("UUID") }}
                     </label>
                     <input type="text" class="form-control" id="uuid_{{ rand }}"
                            name="uuid" value="{{ item.fields['uuid'] }}">
                  </div>
               {% endif %}

               {% if item.isField('autoupdatesystems_id') %}
                  <div class="mb-3 col-12 col-sm-6">
                     <label class="form-label" for="dropdown_autoupdatesystems_id{{ rand }}">
                        {{ "AutoUpdateSystem"|itemtype_name }}
                     </label>
                     {{ "AutoUpdateSystem"|dropdown({
                        'value': item.fields['autoupdatesystems_id'],
                        'rand' : rand,
                        'width': '100%',
                     }) }}
                  </div>
               {% endif %}

               {% if itemInstanceOf(item, "Monitor") %}
                  <div class="mb-3 col-12 col-sm-6">
                     {% include("components/form/flags.html.twig") %}
                  </div>
               {% endif %}

               {% if item.fields['id'] > 0 and item.isField('is_dynamic') %}
                  <div class="mb-3 col-12 col-sm-6">
                     {{ AutoInventoryInformation() }}
                  </div>
               {% endif %}
            </div> {# .row #}
         </div> {# .row #}
         {% include("components/form/pictures.html.twig") %}
      </div> {# .flex-row #}
   </div> {# .card-body #}

   {% include("components/form/buttons.html.twig") %}
   {% include("components/form/inventory_info.html.twig") %}


   {% if params['formfooter'] == null %}
      <div class="card-footer mx-n2 mb-n2 mt-4">
         {% include("components/form/dates.html.twig") %}
      </div>
   {% endif %}
</div>
