{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% extends "glpi_page.twig" %}

{% block header %}
   {{ parent() }}
{% endblock %}

{% block content_header %}
<header class="content-header">
    {% if head_dd is defined %}
        {% include "elements/select.twig" with {'element': head_dd, 'notag': true} %}
    {% endif %}
    {{ block('breadcrumb') }}
</header>
{% endblock %}

{% block content %}
   <div class="container-fluid content">
      <div style="background-color:white;">
         <h2 class="text-center">{{ dashboard.title|default }}</h2>
         <p class="text-center">Updated {{ glpi_currenttime }}</p>
         <div class="dashboard {{ dashboard.class }}">
            <div class='row'>
               {% for deck in dashboard.decks %}
                  <div class='card-deck'>
                     {% for card in deck %}
                     {% include 'elements/dashboard/dashboard_card.twig' with {'card': card} %}
                     {% endfor %}
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}