{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
<!DOCTYPE html>
<html lang="{{ glpi_lang }}" class="{% block html_class  %}{% endblock %}">
    <head>
         <meta charset="utf-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="shortcut icon" type="images/x-icon" href="{{ CFG_GLPI.root_doc }}/pics/favicon.ico" />
         <meta name='viewport' content='width=device-width, initial-scale=1'/>{# auto desktop / mobile viewport #}
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/../css/styles.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/../css/palettes/{{ CFG_GLPI.palette }}.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/public/css/pure-min.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/lib/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" media="screen" />
         <script type="text/javascript" src="{{ CFG_GLPI.root_doc }}/../lib/jquery/js/jquery-1.10.2.js"></script>
        {% block head %}
            <title>{% block title %}{% endblock %} - GLPI</title>
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}{% endblock %}

            <a href="http://glpi-project.org/"
               title="Powered by Teclib and contributors"
               class="copyright"
            >
               GLPI {{ constant('GLPI_VERSION') }} Copyright (C) 2015-{{ "now"|date("Y") }} Teclib' and contributors
            </a>
        </div>
   {% block javascripts %}
      {#% for script in glpi_scripts %}
         <script type="text/javascript">{{ script|raw }}</script>
      {% endfor %#}
   {% endblock %}
{{ debugpanel()|raw }}
    </body>
</html>
