{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
<!DOCTYPE html>
<html lang="{{ glpi_lang }}" class="hold-transition{% if glpi_skin != false %} skin-{{ glpi_skin }}{% endif %} {% block html_class  %}{% endblock %}">
{% set js_libs = glpi_js_libs|default('public/bower_components') %}
    <head>
         <meta charset="utf-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="shortcut icon" type="images/x-icon" href="{{ CFG_GLPI.root_doc }}/pics/favicon.ico" />
         <!-- Tell the browser to be responsive to screen width -->
         <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
         {% block head %}
            <title>{% block title %}{{ page_title }}{% endblock %} - GLPI</title>
         {% endblock %}
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" />
         {#<link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/../css/styles.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/../css/palettes/{{ CFG_GLPI.palette }}.css" type="text/css" media="screen" />#}
         {#<link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/public/css/purecss.io/pure-min.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/public/css/purecss.io/grids-responsive-min.css" type="text/css" media="screen" />#}
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/lib/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" media="screen" />

         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/admin-lte/dist/css/AdminLTE.min.css" type="text/css" media="screen" />
         <link rel="stylesheet" href="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/admin-lte/dist/css/skins/skin-{{ glpi_skin }}.min.css" type="text/css" media="screen" />
         {#<script type="text/javascript" src="{{ CFG_GLPI.root_doc }}/../lib/jquery/js/jquery-1.10.2.js"></script>#}
         <script type="text/javascript" src="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/jquery/dist/jquery.min.js"></script>
         <!-- Google Font -->
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body>
       <div class="wrapper">
        {% block header %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block content_wrapper %}
        <section id="content" class="content-wrapper">
            {% block content_header %}
            <header class="content-header">
               <h1>{{ page_title }}</h1>
               {% block breadcrumb %}{% endblock %}
            </header>
            {% endblock %}
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        <footer id="footer" class="main-footer">
            {% block footer %}{% endblock %}

            <a href="http://glpi-project.org/"
               title="Powered by Teclib and contributors"
               class="copyright"
            >
               GLPI {{ constant('GLPI_VERSION') }} Copyright (C) 2015-{{ "now"|date("Y") }} Teclib' and contributors
            </a>
        </footer>
        </div>
   {% block javascripts %}
      <script type="text/javascript" src="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{ CFG_GLPI.root_doc }}/{{ js_libs }}/admin-lte/dist/js/adminlte.min.js"></script>
      {#% for script in glpi_scripts %}
         <script type="text/javascript">{{ script|raw }}</script>
      {% endfor %#}
   {% endblock %}
    </body>
</html>
