{% extends "layout/page_card_notlogged.html.twig" %}

{% block content_block %}
<div class="flex-fill d-flex align-items-center justify-content-center">
   <div class="container-tight py-6">
      <div class="empty">
         <i class="fas fa-tools fa-3x mb-3"></i>

         <p class="empty-title">{{ __("Temporarily down for maintenance") }}</p>

         <p class="empty-subtitle text-muted">
            {{ __("Sorry for the inconvenience but we’re performing some maintenance at the moment. We’ll be back online shortly!") }}
         </p>

         {% if maintenance_text|length %}
            <div class="alert alert-warning mt-4">
               {{ maintenance_text }}
            </div>
         {% endif %}
         <div class="empty-action">
            <a href="{{ index() }}" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="5" y1="12" x2="11" y2="18"></line>
                  <line x1="5" y1="12" x2="11" y2="6"></line>
               </svg>
               {{ __("Take me home") }}
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}