{#
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2018 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 #}
{% extends "glpi_page.twig" %}

{% set page_title = __('Statistics') %}
{% set item = false %}
{% set is_legacy = true %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
   {{ parent() }}
{% endblock %}

{% block content %}
<div class="container content">
   <div style="background-color:white;">
      {% include "elements/form.twig" with {'glpi_form': glpi_form} %}
   </div>
</div>
   {#{ contents|raw }#}
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript">
      var onDdListChange = function (elt, event) {
         var _value = elt.val();
         if (_value != 0) {
            //window.location.href = '{{ path_for('stats', {'mode': 'PLACEBO'}) }}'.replace(/PLACEBO/, _value);
         } else {
            window.location.href = '{{ path_for('stats') }}';
         }
      };
   </script>
{% endblock %}
