<div class="d-inline-flex align-items-center">
   <label class="form-check form-switch mr-3">
      <input type="checkbox" class="form-check-input pointer"
               name="as_map" value="1" autocomplete="off"
               onclick="toogle('as_map','','',''); document.forms['searchform{{ itemtype }}'].submit();"
               {{ data['search']['as_map'] == 1  ? 'checked' : ''}}>
      <span class="form-check-label" title="{{ __('Show as map') }}">
         <i class="fas fa-globe-americas"></i>
      </span >
   </label>

   {# @TODO add red style for trash control #}
   <label class="form-check form-switch mr-3">
      <input type="checkbox" class="form-check-input pointer"
               name="is_deleted" value="1" autocomplete="off"
               onclick="toogle('is_deleted','','',''); document.forms['searchform{{ itemtype }}'].submit();"
               {{ data['search']['is_deleted'] == 1  ? 'checked' : ''}}>
      <span class="form-check-label" title="{{ __('Show the trashbin') }}">
         <i class="fas fa-trash-alt"></i>
      </span >
   </label>

   <div class="mr-3" role="group">

      {% if can_config %}
      {# @TODO personal preferences form target seems broken #}
      <button class="btn btn-ghost-secondary p-1 show_displaypreference_modal">
         <i class="fas fa-wrench"></i>
      </button>
      {% endif %}

      {# @TODO export #}
      <button class="dropdown-toggle btn btn-ghost-secondary p-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-expanded="false" title="{{ _x('button', 'Export') }} ">
         <i class="fas fa-file-download"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
            {{ __("Current page in landscape PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
            {{ __("Current page in portrait PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-excel"></i>&nbsp;
            {{ __("Current page in SLK") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-csv"></i>&nbsp;
            {{ __("Current page in CSV") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
            {{ __("All pages in landscape PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
            {{ __("All pages in portrait PDF") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-excel"></i>&nbsp;
            {{ __("All pages in SLK") }}
         </a></li>
         <li><a class="dropdown-item" href="#">
            <i class="fas fa-lg fa-file-csv"></i>&nbsp;
            {{ __("All pages in CSV") }}
         </a></li>
      </ul>
   </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
   $('.show_displaypreference_modal').click(function(e) {
      e.preventDefault();

      var modal = '<div class="modal fade" id="displayprefence_modal{{ rand }}" role="dialog">';
      modal += '<div class="modal-dialog modal-lg">';
      modal += '<div class="modal-content">';
      modal += '<div class="modal-header">';
      modal += '<h4 class="modal-title">{{ __("Select default items to show") }}</h4>';
      modal += '<button type="button" class="btn-close" data-dismiss="modal" aria-label="{{ __("Close modal") }}"></button>';
      modal += '</div>';
      modal += '<div class="modal-body">';
      modal += '<div class="ratio ratio-4x3">';
      modal += '<iframe src="{{ path("front/displaypreference.form.php?itemtype=" ~itemtype) }}"></iframe>'
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';

      // remove old modal
      $('#displayprefence_modal{{ rand }}').remove();

      // create new one
      $('body').append(modal);
      $('#displayprefence_modal{{ rand }}').modal('show');
   });

   $("body").on('hide.bs.modal', '#displayprefence_modal{{ rand }}', function() {
      location.reload();
   })
});
</script>