<div class="form-selectgroup mr-3">
   <label class="form-selectgroup-item">
      <input type="checkbox" class="form-selectgroup-input"
             name="as_map" value="1" autocomplete="off"
             onclick="toogle('as_map','','',''); document.forms['searchform{{ itemtype }}'].submit();"
             {{ data['search']['as_map'] == 1  ? 'checked' : ''}}>
      <span class="form-selectgroup-label" title="{{ __('Show as map') }}">
         <i class="fas fa-globe-americas"></i>
      </span >
   </label >

   {# @TODO add red style for trash control #}
   <label class="form-selectgroup-item">
      <input type="checkbox" class="form-selectgroup-input"
             name="is_deleted" value="1" autocomplete="off"
             onclick="toogle('is_deleted','','',''); document.forms['searchform{{ itemtype }}'].submit();"
             {{ data['search']['is_deleted'] == 1  ? 'checked' : ''}}>
      <span class="form-selectgroup-label" title="{{ __('Show the trashbin') }}">
         <i class="fas fa-trash-alt"></i>
      </span >
   </label >

   {% if can_config %}
   <label class="form-selectgroup-item">
      {# @TODO personal preferences form target seems broken #}
      <button class="form-selectgroup-label show_displaypreference_modal">
         <i class="fas fa-wrench"></i>
      </button>
   </label>
   {% endif %}

   {# @TODO export #}
   <label class="form-selectgroup-item">
      <div class="dropdown">
         <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
               data-toggle="dropdown" aria-expanded="false" title="{{ _x('button', 'Export') }} ">
            <i class="fas fa-file-download"></i>
         </button>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
               {{ __("Current page in landscape PDF") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
               {{ __("Current page in portrait PDF") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-excel"></i>&nbsp;
               {{ __("Current page in SLK") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-csv"></i>&nbsp;
               {{ __("Current page in CSV") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
               {{ __("All pages in landscape PDF") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-pdf"></i>&nbsp;
               {{ __("All pages in portrait PDF") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-excel"></i>&nbsp;
               {{ __("All pages in SLK") }}
            </a></li>
            <li><a class="dropdown-item" href="#">
               <i class="fas fa-lg fa-file-csv"></i>&nbsp;
               {{ __("All pages in CSV") }}
            </a></li>
         </ul>
      </div>
   </label>
</div>

<script type="text/javascript">
$(document).ready(function() {
   $('.show_displaypreference_modal').click(function(e) {
      e.preventDefault();

      var modal = '<div class="modal fade" id="displayprefence_modal{{ rand }}" role="dialog">';
      modal += '<div class="modal-dialog modal-lg">';
      modal += '<div class="modal-content">';
      modal += '<div class="modal-header">';
      modal += '<h4 class="modal-title">{{ __("Select default items to show") }}</h4>';
      modal += '<button type="button" class="btn-close" data-dismiss="modal" aria-label="{{ __("Close modal") }}"></button>';
      modal += '</div>';
      modal += '<div class="modal-body"></div>';
      modal += '</div>';
      modal += '</div>';
      modal += '</div>';

      // remove old modal
      $('#displayprefence_modal{{ rand }}').remove();

      // create new one
      $('body').append(modal);

      // AJAX request
      $.ajax({
         url: '{{ path("front/displaypreference.form.php?itemtype=" ~itemtype) }}',
         type: 'post',
         success: function(response){
            $('#displayprefence_modal{{ rand }} .modal-body').html(response);
            $('#displayprefence_modal{{ rand }}').modal('show');
         }
      });
   });

   $('#displayprefence_modal{{ rand }}').on('hide.bs.modal', function() {
      {# @TODO modal close interception broken #}
   })
});
</script>