{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div class="text-center mx-auto p-1 mb-2" style="background-color: var(--tblr-bg-surface); width: fit-content">
    {% if prev > 0 %}
        <div class="d-inline-block">
            <a href="{{ target }}?{{ target_params }}&amp;date1={{ _request['date1'] }}&amp;date2={{ _request['date2'] }}&amp;id={{ prev }}" title="{{ __('Previous') }}">
                <i class="ti ti-chevron-left"></i>
            </a>
        </div>
    {% endif %}
    <div class="d-inline-block" style="width: 400px">{{ title|raw }}</div>
    {% if next > 0 %}
        <div class="d-inline-block">
            <a href="{{ target }}?{{ target_params }}&amp;date1={{ _request['date1'] }}&amp;date2={{ _request['date2'] }}&amp;id={{ next }}" title="{{ __('Next') }}">
                <i class="ti ti-chevron-right"></i>
            </a>
        </div>
    {% endif %}
</div>
