{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

<form method="get" name="form" action="stat.tracking.php">
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="itemtype" value="{{ itemtype }}">
    <input type="hidden" name="value2" value="{{ value2 }}">

    <div class="card mx-auto mb-3">
        <div class="card-body">

            <div class="d-flex align-items-center">
                <div>
                    {{ fields.dropdownArrayField(
                        'type',
                        type,
                        types,
                        _n('Field', 'Fields', 1),
                        {
                            'full_width': true
                        }
                    ) }}
                </div>

                <div>
                    {{ fields.dateField(
                        'date1',
                        date1,
                        __('Start date'),
                        {
                            'full_width': true
                        }
                    ) }}

                    {{ fields.dateField(
                        'date2',
                        date2,
                        __('End date'),
                        {
                            'full_width': true
                        }
                    ) }}
                </div>

                <div>
                    {{ fields.checkboxField(
                        'showgraph',
                        showgraph,
                        __('Show graphics'),
                        {
                            'full_width': true,
                            'full_width_adapt_column': false,
                            'label_class': 'col-12',
                            'input_class': 'col-12 center',
                        }
                    ) }}
                </div>

                <input type="submit" class="btn btn-primary ms-auto"
                       value="{{ __('Display report') }}">
            </div>
        </div>
    </div>
</form>
