{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% macro alert(alert_type = "", title = "", messages = [], icon = "", important = false) %}
   <div class="alert alert-{{ alert_type }} {{ important ? "alert-important" : "" }}" role="alert">
      <div class="d-flex">
         <div>
            <i class="{{ icon }} fa-2x alert-icon"></i>
         </div>
         <div>
            {% if title|length %}
               <h4 class="alert-title">
                  {{ title }}
               </h4>
            {% endif %}
            {% if messages|length > 0 %}
               <div class="text-muted">
                  {% if messages is iterable %}
                     {% for message in messages %}
                        {{ message }}
                        {% if loop.last %}<br />{% endif %}
                     {% endfor %}
                  {% else %}
                     {{ messages }}
                  {% endif %}
               </div>
            {% endif %}
         </div>
      </div>
   </div>
{% endmacro %}

{% macro alert_success(title = "", messages = [], important = false) %}
   {{ _self.alert(
      'success',
      title,
      messages,
      "fas fa-check",
      important
   ) }}
{% endmacro %}

{% macro alert_info(title = "", messages = [], important = false) %}
   {{ _self.alert(
      'info',
      title,
      messages,
      "fas fa-info-circle",
      important
   ) }}
{% endmacro %}

{% macro alert_warning(title = "", messages = [], important = false) %}
   {{ _self.alert(
      'warning',
      title,
      messages,
      "fas fa-exclamation-triangle",
      important
   ) }}
{% endmacro %}

{% macro alert_danger(title = "", messages = [], important = false) %}
   {{ _self.alert(
      'danger',
      title,
      messages,
      "fas fa-exclamation-circle",
      important
   ) }}
{% endmacro %}
