{#
 # ---------------------------------------------------------------------
 # GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2015-2022 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2003-2014 by the INDEPNET Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # GLPI is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

<div class="dates_timelines">
   {% if title|length > 0 %}
      <h2 class="header">{{ title }}</h2>
   {% endif %}

   <ul>
      {% for data in dates %}
         {% if data['timestamp'] != 0 %}
            <li class="{{ data['class'] }}">
               &nbsp;
               <time title="{{ data['date']|formatted_datetime }}"
                     data-bs-toggle="tooltip" data-bs-placement="right">
                  {{ data['date']|relative_datetime }}
               </time>
               <span class="dot"></span>
               <label>{{ data['label']|raw }}</label>
            </li>
         {% endif %}
      {% endfor %}
   </ul>
</div>
