<div class="dates_timelines">
   {% if title|length > 0 %}
      <h2 class="header">{{ title }}</h2>
   {% endif %}

   <ul>
      {% for data in dates %}
         {% if data['timestamp'] != 0 %}
            <li class="{{ data['class'] }}">
               &nbsp;
               <time title="{{ data['date']|formatted_datetime }}"
                     data-bs-toggle="tooltip" data-bs-placement="right">
                  {{ data['date']|relative_datetime }}
               </time>
               <span class="dot"></span>
               <label>{{ data['label']|raw }}</label>
            </li>
         {% endif %}
      {% endfor %}
   </ul>
</div>
