<div class="container-xl text-start mb-4">
   <div class="row row-cards" data-masonry='{"percentPosition": true }' >
      {% for label, dropdown in optgroup %}
         <div class="col-sm-6 col-lg-4">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">{{ label }}</h3>
               </div>
               <div class="list-group list-group-flush list-group-hoverable">
                  {% for itemtype, dropdown_label in dropdown %}
                     <a class="list-group-item list-group-item-action" href="{{ itemtype|getSearchUrl() }}">
                        <div class="row">
                           <div class="col-auto">
                              <i class="fa-fw {{ itemtype|getIcon() }}"></i>
                           </div>
                           <div class="col text-truncate">
                              {{ dropdown_label }}
                           </div>
                           <div class="col-1 text-muted">
                              {% if itemtype|isEntityAssign() %}
                                 <i class="{{ "Entity"|getIcon() }} fa-sm"
                                    data-bs-toggle="tooltip"
                                    title="{{ __("Dropdown with entity management") }}"></i>
                              {% endif %}
                           </div>
                        </div>
                     </a>
                  {% endfor %}
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
</div>
