{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

<div
    class="d-none"
    data-glpi-itildestination-field-config-display-condition="{{ CONFIG_SPECIFIC_VALUE }}"
>
    {% set actors_dropdown = call('Glpi\\Form\\Dropdown\\FormActorsDropdown::show', [
        specific_value_extra_field.input_name,
        specific_value_extra_field.values,
            {
                multiple: true,
                allowed_types: specific_value_extra_field.allowed_types,
                aria_label: specific_value_extra_field.aria_label,
            }
    ]) %}

    {{ fields.htmlField(
        specific_value_extra_field.input_name,
        actors_dropdown,
        '',
        {
            field_class: '',
            no_label: true,
            wrapper_class: '',
            mb: '',
        }
    ) }}
</div>

<div
    class="d-none"
    data-glpi-itildestination-field-config-display-condition="{{ CONFIG_SPECIFIC_ANSWER }}"
>
    {{ fields.dropdownArrayField(
        specific_answer_extra_field.input_name,
        '',
        specific_answer_extra_field.possible_values,
        "",
        options|merge({
            rand: random(),
            field_class: '',
            no_label: true,
            multiple: true,
            values: specific_answer_extra_field.values,
            aria_label: specific_answer_extra_field.aria_label,
            mb: '',
        })
    ) }}
</div>

{% set group_object_strategies = [
    CONFIG_SPECIFIC_USER_OBJECT_ANSWER,
    CONFIG_SPECIFIC_TECH_USER_OBJECT_ANSWER,
    CONFIG_SPECIFIC_GROUP_OBJECT_ANSWER,
    CONFIG_SPECIFIC_TECH_GROUP_OBJECT_ANSWER
] %}
{% for strategy in group_object_strategies %}
    <div
        class="d-none"
        data-glpi-itildestination-field-config-display-condition="{{ strategy }}"
    >
        {{ fields.dropdownArrayField(
            object_answer_extra_field.input_name,
            '',
            object_answer_extra_field.possible_values,
            "",
            options|merge({
                rand: random(),
                field_class: '',
                no_label: true,
                multiple: true,
                values: object_answer_extra_field.values,
                aria_label: object_answer_extra_field.aria_label,
                mb: '',
            })
        ) }}
    </div>
{% endfor %}
