{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{{ fields.dropdownArrayField(
    main_config_field.input_name,
    main_config_field.value,
    main_config_field.possible_values,
    main_config_field.label,
    options
) }}

<div
    {% if main_config_field.value != CONFIG_SPECIFIC_VALUE %}
        class="d-none"
    {% endif %}
    data-glpi-parent-dropdown="{{ main_config_field.input_name }}"
    data-glpi-parent-dropdown-condition="{{ CONFIG_SPECIFIC_VALUE }}"
>
    {{ fields.dropdownArrayField(
        specific_value_extra_field.input_name,
        specific_value_extra_field.value,
        specific_value_extra_field.possible_values,
        "",
        options|merge({
            no_label: true,
            display_emptychoice: true,
            emptylabel: specific_value_extra_field.empty_label,
            aria_label: specific_value_extra_field.empty_label,
        })
    ) }}
</div>

<div
    {% if main_config_field.value != CONFIG_SPECIFIC_ANSWER %}
        class="d-none"
    {% endif %}
    data-glpi-parent-dropdown="{{ main_config_field.input_name }}"
    data-glpi-parent-dropdown-condition="{{ CONFIG_SPECIFIC_ANSWER }}"
>
    {{ fields.dropdownArrayField(
        specific_answer_extra_field.input_name,
        specific_answer_extra_field.value,
        specific_answer_extra_field.possible_values,
        "",
        options|merge({
            no_label: true,
            display_emptychoice: true,
            emptylabel: specific_answer_extra_field.empty_label,
            aria_label: specific_answer_extra_field.empty_label,
        })
    ) }}
</div>
