{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% for zone_number, zone in zones %}
    {% if (zone['side'] ?? front) == current_side %}
        {% if stencil.getZonePopover(params.is_editor_view, zone) != null %}
            {% set popover_attrs %}
                data-bs-toggle="popover" data-bs-html="true"
                data-bs-content="{{ stencil.getZonePopover(params.is_editor_view, zone) }}"
            {% endset %}
        {% else %}
            {% set tooltip_attrs %}
                data-bs-toggle="tooltip"
                data-bs-title="{{ zone['label'] }}"
            {% endset %}
        {% endif %}

        <a href="#{{ params.anchor_id ?? 'zone_id_' }}{{ zone['number'] ?? zone_number }}"
           tabindex="{{ zone_number }}"
           class="defined-zone set-zone-data d-inline-flex align-items-center justify-content-center"
           data-zone-index="{{ zone_number }}"
           {{ popover_attrs ?? tooltip_attrs }}
           style="left: {{ zone['x_percent'] }}%;
                  top: {{ zone['y_percent'] }}%;
                  width: {{ zone['width_percent'] }}%;
                  height: {{ zone['height_percent'] }}%;">
            {{ stencil.getZoneLabel(params.is_editor_view, zone)|raw }}
        </a>

    {% endif %}
{% endfor %}
