<div class="container">
   <div class="row justify-content-evenly">
      <div class="col-12 col-xxl-5">
         <div class="card">
            <div class="card-header">
               <h3>{{ __('Bulk import users from a LDAP directory') }}</h3>
            </div>
            <div class="list-group list-group-flush">
               <a class="list-group-item list-group-item-action" href="{{ path('front/ldap.import.php') }}?mode=1&amp;action=show">
                  <i class="fas fa-fw fa-users-cog me-1"></i>
                  <span>{{ __('Synchronizing already imported users') }}</span>
               </a>

               <a class="list-group-item list-group-item-action" href="{{ path('front/ldap.import.php') }}?mode=0&amp;action=show">
                  <i class="fas fa-fw fa-user-plus me-1"></i>
                  <span>{{ __('Import new users') }}</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
